{"openapi":"3.0.1","info":{"title":"GroqCloud API","description":"Specification of the Groq cloud API","termsOfService":"https://groq.com/terms-of-use/","contact":{"name":"Groq Support","email":"support@groq.com"},"version":"2.1"},"servers":[{"url":"https://api.groq.com"}],"paths":{"/openai/v1/audio/speech":{"post":{"operationId":"createSpeech","tags":["Audio"],"summary":"Generates audio from the input text.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSpeechRequest"}}}},"responses":{"200":{"description":"OK","headers":{"Transfer-Encoding":{"schema":{"type":"string"},"description":"chunked"}},"content":{"audio/wav":{"schema":{"type":"string","format":"binary"}}}}},"x-groq-metadata":{"returns":"Returns an audio file in \u0060wav\u0060 format.","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/audio/speech \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -d \u0027{\n    \u0022model\u0022: \u0022playai-tts\u0022,\n    \u0022input\u0022: \u0022I love building and shipping new features for our users!\u0022,\n    \u0022voice\u0022: \u0022Fritz-PlayAI\u0022,\n    \u0022response_format\u0022: \u0022wav\u0022\n  }\u0027\n","py":"import os\nfrom groq import Groq\n\nclient = Groq(api_key=os.environ.get(\u0022GROQ_API_KEY\u0022))\n\nspeech_file_path = \u0022speech.wav\u0022\nmodel = \u0022playai-tts\u0022\nvoice = \u0022Fritz-PlayAI\u0022\ntext = \u0022I love building and shipping new features for our users!\u0022\nresponse_format = \u0022wav\u0022\n\nresponse = client.audio.speech.create(\n    model=model,\n    voice=voice,\n    input=text,\n    response_format=response_format\n)\n\nresponse.write_to_file(speech_file_path)\n","js":"import fs from \u0022fs\u0022;\nimport path from \u0022path\u0022;\nimport Groq from \u0027groq-sdk\u0027;\n\nconst groq = new Groq({\n  apiKey: process.env.GROQ_API_KEY\n});\n\nconst speechFilePath = \u0022speech.wav\u0022;\nconst model = \u0022playai-tts\u0022;\nconst voice = \u0022Fritz-PlayAI\u0022;\nconst text = \u0022I love building and shipping new features for our users!\u0022;\nconst responseFormat = \u0022wav\u0022;\n\nasync function main() {\n  const response = await groq.audio.speech.create({\n    model: model,\n    voice: voice,\n    input: text,\n    response_format: responseFormat\n  });\n\n  const buffer = Buffer.from(await response.arrayBuffer());\n  await fs.promises.writeFile(speechFilePath, buffer);\n}\n\nmain();\n"}}]}}},"/openai/v1/audio/transcriptions":{"post":{"operationId":"createTranscription","tags":["Audio"],"summary":"Transcribes audio into the input language.","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/CreateTranscriptionRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTranscriptionResponseJson"}}}}},"x-groq-metadata":{"returns":"Returns an audio transcription object.","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/audio/transcriptions \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -H \u0022Content-Type: multipart/form-data\u0022 \\\n  -F file=\u0022@./sample_audio.m4a\u0022 \\\n  -F model=\u0022whisper-large-v3\u0022\n","py":"import os\nfrom groq import Groq\n\nclient = Groq()\nfilename = os.path.dirname(__file__) \u002B \u0022/sample_audio.m4a\u0022\n\nwith open(filename, \u0022rb\u0022) as file:\n    transcription = client.audio.transcriptions.create(\n      file=(filename, file.read()),\n      model=\u0022whisper-large-v3\u0022,\n      prompt=\u0022Specify context or spelling\u0022,  # Optional\n      response_format=\u0022json\u0022,  # Optional\n      language=\u0022en\u0022,  # Optional\n      temperature=0.0  # Optional\n    )\n    print(transcription.text)\n","js":"import fs from \u0022fs\u0022;\nimport Groq from \u0022groq-sdk\u0022;\n\nconst groq = new Groq();\nasync function main() {\n  const transcription = await groq.audio.transcriptions.create({\n    file: fs.createReadStream(\u0022sample_audio.m4a\u0022),\n    model: \u0022whisper-large-v3\u0022,\n    prompt: \u0022Specify context or spelling\u0022, // Optional\n    response_format: \u0022json\u0022, // Optional\n    language: \u0022en\u0022, // Optional\n    temperature: 0.0, // Optional\n  });\n  console.log(transcription.text);\n}\nmain();\n"},"response":"{\n  \u0022text\u0022: \u0022Your transcribed text appears here...\u0022,\n  \u0022x_groq\u0022: {\n    \u0022id\u0022: \u0022req_unique_id\u0022\n  }\n}\n"}]}}},"/openai/v1/audio/translations":{"post":{"operationId":"createTranslation","tags":["Audio"],"summary":"Translates audio into English.","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/CreateTranslationRequest"}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"$ref":"#/components/schemas/CreateTranslationResponseJson"}}}}},"x-groq-metadata":{"returns":"Returns an audio translation object.","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/audio/translations \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -H \u0022Content-Type: multipart/form-data\u0022 \\\n  -F file=\u0022@./sample_audio.m4a\u0022 \\\n  -F model=\u0022whisper-large-v3\u0022\n","py":"# Default\nimport os\nfrom groq import Groq\n\nclient = Groq()\nfilename = os.path.dirname(__file__) \u002B \u0022/sample_audio.m4a\u0022\n\nwith open(filename, \u0022rb\u0022) as file:\n    translation = client.audio.translations.create(\n      file=(filename, file.read()),\n      model=\u0022whisper-large-v3\u0022,\n      prompt=\u0022Specify context or spelling\u0022,  # Optional\n      response_format=\u0022json\u0022,  # Optional\n      temperature=0.0  # Optional\n    )\n    print(translation.text)\n","js":"// Default\nimport fs from \u0022fs\u0022;\nimport Groq from \u0022groq-sdk\u0022;\n\nconst groq = new Groq();\nasync function main() {\n  const translation = await groq.audio.translations.create({\n    file: fs.createReadStream(\u0022sample_audio.m4a\u0022),\n    model: \u0022whisper-large-v3\u0022,\n    prompt: \u0022Specify context or spelling\u0022, // Optional\n    response_format: \u0022json\u0022, // Optional\n    temperature: 0.0, // Optional\n  });\n  console.log(translation.text);\n}\nmain();\n"},"response":"{\n  \u0022text\u0022: \u0022Your translated text appears here...\u0022,\n  \u0022x_groq\u0022: {\n    \u0022id\u0022: \u0022req_unique_id\u0022\n  }\n}\n"}]}}},"/openai/v1/batches":{"post":{"summary":"Creates and executes a batch from an uploaded file of requests. [Learn more](/docs/batch).","operationId":"createBatch","tags":["Batch"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["input_file_id","endpoint","completion_window"],"properties":{"input_file_id":{"type":"string","description":"The ID of an uploaded file that contains requests for the new batch.\n\nSee [upload file](/docs/api-reference#files-upload) for how to upload a file.\n\nYour input file must be formatted as a [JSONL file](/docs/batch), and must be uploaded with the purpose \u0060batch\u0060. The file can be up to 100 MB in size.\n"},"endpoint":{"type":"string","enum":["/v1/chat/completions"],"description":"The endpoint to be used for all requests in the batch. Currently \u0060/v1/chat/completions\u0060 is supported."},"completion_window":{"type":"string","description":"The time frame within which the batch should be processed. Durations from \u006024h\u0060 to \u00607d\u0060 are supported."},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Optional custom metadata for the batch.","nullable":true}}}}}},"responses":{"200":{"description":"Batch created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Batch"}}}}},"x-groq-metadata":{"returns":"A created batch object.","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/batches \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -d \u0027{\n    \u0022input_file_id\u0022: \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n    \u0022endpoint\u0022: \u0022/v1/chat/completions\u0022,\n    \u0022completion_window\u0022: \u002224h\u0022\n  }\u0027\n","py":"import os\nfrom groq import Groq\n\nclient = Groq(\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),  # This is the default and can be omitted\n)\nbatch = client.batches.create(\n    completion_window=\u002224h\u0022,\n    endpoint=\u0022/v1/chat/completions\u0022,\n    input_file_id=\u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n)\nprint(batch.id)\n","js":"import Groq from \u0027groq-sdk\u0027;\n\nconst client = new Groq({\n  apiKey: process.env[\u0027GROQ_API_KEY\u0027], // This is the default and can be omitted\n});\n\nasync function main() {\n  const batch = await client.batches.create({\n    completion_window: \u002224h\u0022,\n    endpoint: \u0022/v1/chat/completions\u0022,\n    input_file_id: \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n  });\n  console.log(batch.id);\n}\n\nmain();\n"},"response":"{\n  \u0022id\u0022: \u0022batch_01jh6xa7reempvjyh6n3yst2zw\u0022,\n  \u0022object\u0022: \u0022batch\u0022,\n  \u0022endpoint\u0022: \u0022/v1/chat/completions\u0022,\n  \u0022errors\u0022: null,\n  \u0022input_file_id\u0022: \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n  \u0022completion_window\u0022: \u002224h\u0022,\n  \u0022status\u0022: \u0022validating\u0022,\n  \u0022output_file_id\u0022: null,\n  \u0022error_file_id\u0022: null,\n  \u0022finalizing_at\u0022: null,\n  \u0022failed_at\u0022: null,\n  \u0022expired_at\u0022: null,\n  \u0022cancelled_at\u0022: null,\n  \u0022request_counts\u0022: {\n    \u0022total\u0022: 0,\n    \u0022completed\u0022: 0,\n    \u0022failed\u0022: 0\n  },\n  \u0022metadata\u0022: null,\n  \u0022created_at\u0022: 1736472600,\n  \u0022expires_at\u0022: 1736559000,\n  \u0022cancelling_at\u0022: null,\n  \u0022completed_at\u0022: null,\n  \u0022in_progress_at\u0022: null\n}\n"}]}},"get":{"operationId":"listBatches","tags":["Batch"],"summary":"List your organization\u0027s batches.","responses":{"200":{"description":"Batch listed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListBatchesResponse"}}}}},"x-groq-metadata":{"returns":"A list of batches","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/batches \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022\n","py":"import os\nfrom groq import Groq\n\nclient = Groq(\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),  # This is the default and can be omitted\n)\nbatch_list = client.batches.list()\nprint(batch_list.data)\n","js":"import Groq from \u0027groq-sdk\u0027;\n\nconst client = new Groq({\n  apiKey: process.env[\u0027GROQ_API_KEY\u0027], // This is the default and can be omitted\n});\n\nasync function main() {\n  const batchList = await client.batches.list();\n  console.log(batchList.data);\n}\n\nmain();\n"},"response":"{\n  \u0022object\u0022: \u0022list\u0022,\n  \u0022data\u0022: [\n    {\n      \u0022id\u0022: \u0022batch_01jh6xa7reempvjyh6n3yst2zw\u0022,\n      \u0022object\u0022: \u0022batch\u0022,\n      \u0022endpoint\u0022: \u0022/v1/chat/completions\u0022,\n      \u0022errors\u0022: null,\n      \u0022input_file_id\u0022: \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n      \u0022completion_window\u0022: \u002224h\u0022,\n      \u0022status\u0022: \u0022validating\u0022,\n      \u0022output_file_id\u0022: null,\n      \u0022error_file_id\u0022: null,\n      \u0022finalizing_at\u0022: null,\n      \u0022failed_at\u0022: null,\n      \u0022expired_at\u0022: null,\n      \u0022cancelled_at\u0022: null,\n      \u0022request_counts\u0022: {\n        \u0022total\u0022: 0,\n        \u0022completed\u0022: 0,\n        \u0022failed\u0022: 0\n      },\n      \u0022metadata\u0022: null,\n      \u0022created_at\u0022: 1736472600,\n      \u0022expires_at\u0022: 1736559000,\n      \u0022cancelling_at\u0022: null,\n      \u0022completed_at\u0022: null,\n      \u0022in_progress_at\u0022: null\n    }\n  ]\n}\n"}]}}},"/openai/v1/batches/{batch_id}":{"get":{"operationId":"retrieveBatch","tags":["Batch"],"summary":"Retrieves a batch.","parameters":[{"in":"path","name":"batch_id","required":true,"schema":{"type":"string"},"description":"The ID of the batch to retrieve."}],"responses":{"200":{"description":"Batch retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Batch"}}}}},"x-groq-metadata":{"returns":"A batch object.","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/batches/batch_01jh6xa7reempvjyh6n3yst2zw \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022\n","py":"import os\nfrom groq import Groq\n\nclient = Groq(\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),  # This is the default and can be omitted\n)\nbatch = client.batches.retrieve(\n    \u0022batch_01jh6xa7reempvjyh6n3yst2zw\u0022,\n)\nprint(batch.id)\n","js":"import Groq from \u0027groq-sdk\u0027;\n\nconst client = new Groq({\n  apiKey: process.env[\u0027GROQ_API_KEY\u0027], // This is the default and can be omitted\n});\n\nasync function main() {\n  const batch = await client.batches.retrieve(\u0022batch_01jh6xa7reempvjyh6n3yst2zw\u0022);\n  console.log(batch.id);\n}\n\nmain();\n"},"response":"{\n  \u0022id\u0022: \u0022batch_01jh6xa7reempvjyh6n3yst2zw\u0022,\n  \u0022object\u0022: \u0022batch\u0022,\n  \u0022endpoint\u0022: \u0022/v1/chat/completions\u0022,\n  \u0022errors\u0022: null,\n  \u0022input_file_id\u0022: \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n  \u0022completion_window\u0022: \u002224h\u0022,\n  \u0022status\u0022: \u0022validating\u0022,\n  \u0022output_file_id\u0022: null,\n  \u0022error_file_id\u0022: null,\n  \u0022finalizing_at\u0022: null,\n  \u0022failed_at\u0022: null,\n  \u0022expired_at\u0022: null,\n  \u0022cancelled_at\u0022: null,\n  \u0022request_counts\u0022: {\n    \u0022total\u0022: 0,\n    \u0022completed\u0022: 0,\n    \u0022failed\u0022: 0\n  },\n  \u0022metadata\u0022: null,\n  \u0022created_at\u0022: 1736472600,\n  \u0022expires_at\u0022: 1736559000,\n  \u0022cancelling_at\u0022: null,\n  \u0022completed_at\u0022: null,\n  \u0022in_progress_at\u0022: null\n}\n"}]}}},"/openai/v1/batches/{batch_id}/cancel":{"post":{"operationId":"cancelBatch","tags":["Batch"],"summary":"Cancels a batch.","parameters":[{"in":"path","name":"batch_id","required":true,"schema":{"type":"string"},"description":"The ID of the batch to cancel."}],"responses":{"200":{"description":"Batch cancelled successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Batch"}}}}},"x-groq-metadata":{"returns":"A batch object.","examples":[{"title":"Default","request":{"curl":"curl -X POST https://api.groq.com/openai/v1/batches/batch_01jh6xa7reempvjyh6n3yst2zw/cancel \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022\n","py":"import os\nfrom groq import Groq\n\nclient = Groq(\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),  # This is the default and can be omitted\n)\nbatch = client.batches.cancel(\n    \u0022batch_01jh6xa7reempvjyh6n3yst2zw\u0022,\n)\nprint(batch.id)\n","js":"import Groq from \u0027groq-sdk\u0027;\n\nconst client = new Groq({\n  apiKey: process.env[\u0027GROQ_API_KEY\u0027], // This is the default and can be omitted\n});\n\nasync function main() {\n  const batch = await client.batches.cancel(\u0022batch_01jh6xa7reempvjyh6n3yst2zw\u0022);\n  console.log(batch.id);\n}\n\nmain();\n"},"response":"{\n  \u0022id\u0022: \u0022batch_01jh6xa7reempvjyh6n3yst2zw\u0022,\n  \u0022object\u0022: \u0022batch\u0022,\n  \u0022endpoint\u0022: \u0022/v1/chat/completions\u0022,\n  \u0022errors\u0022: null,\n  \u0022input_file_id\u0022: \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n  \u0022completion_window\u0022: \u002224h\u0022,\n  \u0022status\u0022: \u0022cancelling\u0022,\n  \u0022output_file_id\u0022: null,\n  \u0022error_file_id\u0022: null,\n  \u0022finalizing_at\u0022: null,\n  \u0022failed_at\u0022: null,\n  \u0022expired_at\u0022: null,\n  \u0022cancelled_at\u0022: null,\n  \u0022request_counts\u0022: {\n    \u0022total\u0022: 0,\n    \u0022completed\u0022: 0,\n    \u0022failed\u0022: 0\n  },\n  \u0022metadata\u0022: null,\n  \u0022created_at\u0022: 1736472600,\n  \u0022expires_at\u0022: 1736559000,\n  \u0022cancelling_at\u0022: null,\n  \u0022completed_at\u0022: null,\n  \u0022in_progress_at\u0022: null\n}\n"}]}}},"/openai/v1/chat/completions":{"post":{"operationId":"createChatCompletion","tags":["Chat"],"summary":"Creates a model response for the given chat conversation.","requestBody":{"required":true,"description":"The chat prompt and parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChatCompletionRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChatCompletionResponse"}}}}},"x-groq-metadata":{"returns":"Returns a [chat completion](/docs/api-reference#chat-create) object, or a streamed sequence of [chat completion chunk](/docs/api-reference#chat-create) objects if the request is streamed.","examples":[{"title":"Default","request":{"py":"import os\n\nfrom groq import Groq\n\nclient = Groq(\n    # This is the default and can be omitted\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),\n)\n\nchat_completion = client.chat.completions.create(\n    messages=[\n        {\n            \u0022role\u0022: \u0022system\u0022,\n            \u0022content\u0022: \u0022You are a helpful assistant.\u0022\n        },\n        {\n            \u0022role\u0022: \u0022user\u0022,\n            \u0022content\u0022: \u0022Explain the importance of fast language models\u0022,\n        }\n    ],\n    model=\u0022llama-3.3-70b-versatile\u0022,\n)\n\nprint(chat_completion.choices[0].message.content)\n","js":"import Groq from \u0022groq-sdk\u0022;\n\nconst groq = new Groq({ apiKey: process.env.GROQ_API_KEY });\n\nasync function main() {\n  const completion = await groq.chat.completions\n    .create({\n      messages: [\n        {\n          role: \u0022user\u0022,\n          content: \u0022Explain the importance of fast language models\u0022,\n        },\n      ],\n      model: \u0022llama-3.3-70b-versatile\u0022,\n    })\n  console.log(completion.choices[0].message.content);\n}\n\nmain();\n","curl":"curl https://api.groq.com/openai/v1/chat/completions -s \\\n-H \u0022Content-Type: application/json\u0022 \\\n-H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n-d \u0027{\n  \u0022model\u0022: \u0022llama-3.3-70b-versatile\u0022,\n  \u0022messages\u0022: [{\n      \u0022role\u0022: \u0022user\u0022,\n      \u0022content\u0022: \u0022Explain the importance of fast language models\u0022\n  }]\n}\u0027\n"},"response":"{\n  \u0022id\u0022: \u0022chatcmpl-f51b2cd2-bef7-417e-964e-a08f0b513c22\u0022,\n  \u0022object\u0022: \u0022chat.completion\u0022,\n  \u0022created\u0022: 1730241104,\n  \u0022model\u0022: \u0022openai/gpt-oss-20b\u0022,\n  \u0022choices\u0022: [\n    {\n      \u0022index\u0022: 0,\n      \u0022message\u0022: {\n        \u0022role\u0022: \u0022assistant\u0022,\n        \u0022content\u0022: \u0022Fast language models have gained significant attention in recent years due to their ability to process and generate human-like text quickly and efficiently. The importance of fast language models can be understood from their potential applications and benefits:\\n\\n1. **Real-time Chatbots and Conversational Interfaces**: Fast language models enable the development of chatbots and conversational interfaces that can respond promptly to user queries, making them more engaging and useful.\\n2. **Sentiment Analysis and Opinion Mining**: Fast language models can quickly analyze text data to identify sentiments, opinions, and emotions, allowing for improved customer service, market research, and opinion mining.\\n3. **Language Translation and Localization**: Fast language models can quickly translate text between languages, facilitating global communication and enabling businesses to reach a broader audience.\\n4. **Text Summarization and Generation**: Fast language models can summarize long documents or even generate new text on a given topic, improving information retrieval and processing efficiency.\\n5. **Named Entity Recognition and Information Extraction**: Fast language models can rapidly recognize and extract specific entities, such as names, locations, and organizations, from unstructured text data.\\n6. **Recommendation Systems**: Fast language models can analyze large amounts of text data to personalize product recommendations, improve customer experience, and increase sales.\\n7. **Content Generation for Social Media**: Fast language models can quickly generate engaging content for social media platforms, helping businesses maintain a consistent online presence and increasing their online visibility.\\n8. **Sentiment Analysis for Stock Market Analysis**: Fast language models can quickly analyze social media posts, news articles, and other text data to identify sentiment trends, enabling financial analysts to make more informed investment decisions.\\n9. **Language Learning and Education**: Fast language models can provide instant feedback and adaptive language learning, making language education more effective and engaging.\\n10. **Domain-Specific Knowledge Extraction**: Fast language models can quickly extract relevant information from vast amounts of text data, enabling domain experts to focus on high-level decision-making rather than manual information gathering.\\n\\nThe benefits of fast language models include:\\n\\n* **Increased Efficiency**: Fast language models can process large amounts of text data quickly, reducing the time and effort required for tasks such as sentiment analysis, entity recognition, and text summarization.\\n* **Improved Accuracy**: Fast language models can analyze and learn from large datasets, leading to more accurate results and more informed decision-making.\\n* **Enhanced User Experience**: Fast language models can enable real-time interactions, personalized recommendations, and timely responses, improving the overall user experience.\\n* **Cost Savings**: Fast language models can automate many tasks, reducing the need for manual labor and minimizing costs associated with data processing and analysis.\\n\\nIn summary, fast language models have the potential to transform various industries and applications by providing fast, accurate, and efficient language processing capabilities.\u0022\n      },\n      \u0022logprobs\u0022: null,\n      \u0022finish_reason\u0022: \u0022stop\u0022\n    }\n  ],\n  \u0022usage\u0022: {\n    \u0022queue_time\u0022: 0.037493756,\n    \u0022prompt_tokens\u0022: 18,\n    \u0022prompt_time\u0022: 0.000680594,\n    \u0022completion_tokens\u0022: 556,\n    \u0022completion_time\u0022: 0.463333333,\n    \u0022total_tokens\u0022: 574,\n    \u0022total_time\u0022: 0.464013927\n  },\n  \u0022system_fingerprint\u0022: \u0022fp_179b0f92c9\u0022,\n  \u0022x_groq\u0022: { \u0022id\u0022: \u0022req_01jbd6g2qdfw2adyrt2az8hz4w\u0022 }\n}\n"}]}}},"/openai/v1/embeddings":{"post":{"operationId":"createEmbedding","tags":["Embeddings"],"summary":"Creates an embedding vector representing the input text.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEmbeddingRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEmbeddingResponse"}}}}}}},"/openai/v1/files":{"get":{"operationId":"listFiles","tags":["Files"],"summary":"Returns a list of files.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListFilesResponse"}}}}},"x-groq-metadata":{"returns":"A list of [File](/docs/api-reference#files-upload) objects.","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/files \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022\n","py":"import os\nfrom groq import Groq\n\nclient = Groq(\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),  # This is the default and can be omitted\n)\nfile_list = client.files.list()\nprint(file_list.data)\n","js":"import Groq from \u0027groq-sdk\u0027;\n\nconst client = new Groq({\n  apiKey: process.env[\u0027GROQ_API_KEY\u0027], // This is the default and can be omitted\n});\n\nasync function main() {\n  const fileList = await client.files.list();\n  console.log(fileList.data);\n}\n\nmain();\n"},"response":"{\n  \u0022object\u0022: \u0022list\u0022,\n  \u0022data\u0022: [\n    {\n      \u0022id\u0022: \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n      \u0022object\u0022: \u0022file\u0022,\n      \u0022bytes\u0022: 966,\n      \u0022created_at\u0022: 1736472501,\n      \u0022filename\u0022: \u0022batch_file.jsonl\u0022,\n      \u0022purpose\u0022: \u0022batch\u0022\n    }\n  ]\n}\n"}]}},"post":{"operationId":"uploadFile","tags":["Files"],"summary":"Upload a file that can be used across various endpoints.\n\nThe Batch API only supports \u0060.jsonl\u0060 files up to 100 MB in size. The input also has a specific required [format](/docs/batch).\n\nPlease contact us if you need to increase these storage limits.\n","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/CreateFileRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/File"}}}}},"x-groq-metadata":{"returns":"The uploaded File object.","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/files \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -F purpose=\u0022batch\u0022 \\\n  -F \u0022file=@batch_file.jsonl\u0022\n","py":"import os\nimport requests # pip install requests first!\n\ndef upload_file_to_groq(api_key, file_path):\n    url = \u0022https://api.groq.com/openai/v1/files\u0022\n\n    headers = {\n        \u0022Authorization\u0022: f\u0022Bearer {api_key}\u0022\n    }\n\n    # Prepare the file and form data\n    files = {\n        \u0022file\u0022: (\u0022batch_file.jsonl\u0022, open(file_path, \u0022rb\u0022))\n    }\n\n    data = {\n        \u0022purpose\u0022: \u0022batch\u0022\n    }\n\n    # Make the POST request\n    response = requests.post(url, headers=headers, files=files, data=data)\n\n    return response.json()\n\n# Usage example\napi_key = os.environ.get(\u0022GROQ_API_KEY\u0022)\nfile_path = \u0022batch_file.jsonl\u0022  # Path to your JSONL file\n\ntry:\n    result = upload_file_to_groq(api_key, file_path)\n    print(result)\nexcept Exception as e:\n    print(f\u0022Error: {e}\u0022)\n","js":"import Groq from \u0027groq-sdk\u0027;\n\nconst client = new Groq({\n  apiKey: process.env[\u0027GROQ_API_KEY\u0027], // This is the default and can be omitted\n});\n\nconst fileContent = \u0027{\u0022custom_id\u0022: \u0022request-1\u0022, \u0022method\u0022: \u0022POST\u0022, \u0022url\u0022: \u0022/v1/chat/completions\u0022, \u0022body\u0022: {\u0022model\u0022: \u0022llama-3.1-8b-instant\u0022, \u0022messages\u0022: [{\u0022role\u0022: \u0022user\u0022, \u0022content\u0022: \u0022Explain the importance of fast language models\u0022}]}}\\n\u0027;\n\nasync function main() {\n  const blob = new Blob([fileContent]);\n  const file = new File([blob], \u0027batch.jsonl\u0027);\n\n  const createdFile = await client.files.create({ file: file, purpose: \u0027batch\u0027 });\n  console.log(createdFile.id);\n}\n\nmain();\n"},"response":"{\n  \u0022id\u0022: \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n  \u0022object\u0022: \u0022file\u0022,\n  \u0022bytes\u0022: 966,\n  \u0022created_at\u0022: 1736472501,\n  \u0022filename\u0022: \u0022batch_file.jsonl\u0022,\n  \u0022purpose\u0022: \u0022batch\u0022\n}\n"}]}}},"/openai/v1/files/{file_id}":{"delete":{"operationId":"deleteFile","tags":["Files"],"summary":"Delete a file.","parameters":[{"in":"path","name":"file_id","required":true,"schema":{"type":"string"},"description":"The ID of the file to use for this request."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteFileResponse"}}}}},"x-groq-metadata":{"returns":"A deleted file response object.","examples":[{"title":"Default","request":{"curl":"curl -X DELETE https://api.groq.com/openai/v1/files/file_01jh6x76wtemjr74t1fh0faj5t \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022\n","py":"import os\nfrom groq import Groq\n\nclient = Groq(\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),  # This is the default and can be omitted\n)\nfile_delete = client.files.delete(\n    \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n)\nprint(file_delete)\n","js":"import Groq from \u0027groq-sdk\u0027;\n\nconst client = new Groq({\n  apiKey: process.env[\u0027GROQ_API_KEY\u0027], // This is the default and can be omitted\n});\n\nasync function main() {\n  const fileDelete = await client.files.delete(\u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022);\n  console.log(fileDelete);\n}\n\nmain();\n"},"response":"{\n  \u0022id\u0022: \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n  \u0022object\u0022: \u0022file\u0022,\n  \u0022deleted\u0022: true\n}\n"}]}},"get":{"operationId":"retrieveFile","tags":["Files"],"summary":"Returns information about a file.","parameters":[{"name":"file_id","in":"path","description":"The file to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/File"}}}}},"x-groq-metadata":{"returns":"A file object.","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/files/file_01jh6x76wtemjr74t1fh0faj5t \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022\n","py":"import os\nfrom groq import Groq\n\nclient = Groq(\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),  # This is the default and can be omitted\n)\nfile = client.files.info(\n    \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n)\nprint(file)\n","js":"import Groq from \u0027groq-sdk\u0027;\n\nconst client = new Groq({\n  apiKey: process.env[\u0027GROQ_API_KEY\u0027], // This is the default and can be omitted\n});\n\nasync function main() {\n    const file = await client.files.info(\u0027file_01jh6x76wtemjr74t1fh0faj5t\u0027);\n    console.log(file);\n}\n\nmain();\n"},"response":"{\n  \u0022id\u0022: \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n  \u0022object\u0022: \u0022file\u0022,\n  \u0022bytes\u0022: 966,\n  \u0022created_at\u0022: 1736472501,\n  \u0022filename\u0022: \u0022batch_file.jsonl\u0022,\n  \u0022purpose\u0022: \u0022batch\u0022\n}\n"}]}}},"/openai/v1/files/{file_id}/content":{"get":{"operationId":"downloadFile","tags":["Files"],"summary":"Returns the contents of the specified file.","parameters":[{"in":"path","name":"file_id","required":true,"schema":{"type":"string"},"description":"The ID of the file to use for this request."}],"responses":{"200":{"description":"OK","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}}},"x-groq-metadata":{"returns":"The file content","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/files/file_01jh6x76wtemjr74t1fh0faj5t/content \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022\n","py":"import os\nfrom groq import Groq\n\nclient = Groq(\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),  # This is the default and can be omitted\n)\nresponse = client.files.content(\n    \u0022file_01jh6x76wtemjr74t1fh0faj5t\u0022,\n)\nprint(response)\n","js":"import Groq from \u0027groq-sdk\u0027;\n\nconst client = new Groq({\n  apiKey: process.env[\u0027GROQ_API_KEY\u0027], // This is the default and can be omitted\n});\n\nasync function main() {\n    const response = await client.files.content(\u0027file_01jh6x76wtemjr74t1fh0faj5t\u0027);\n    console.log(response);\n}\n\nmain();\n"}}]}}},"/v1/fine_tunings":{"get":{"operationId":"listFineTunings","summary":"Lists all previously created fine tunings. This endpoint is in closed beta. [Contact us](https://groq.com/contact) for more information.","tags":["Fine Tuning"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListFineTuningsResponse"}}}}},"x-groq-metadata":{"returns":"The list of fine tunes","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/v1/fine_tunings -s \\\n    -H \u0022Content-Type: application/json\u0022 \\\n    -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022\n","js":"import Groq from \u0022groq-sdk\u0022;\n\nconst groq = new Groq({ apiKey: process.env.GROQ_API_KEY });\n\nasync function main() {\n    const fineTunings = await groq.fine_tunings.list();\n    console.log(fineTunings);\n}\n\nmain();\n","py":"import os\n\nfrom groq import Groq\n\nclient = Groq(\n    # This is the default and can be omitted\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),\n)\n\nfine_tunings = client.fine_tunings.list()\n\nprint(fine_tunings)\n"},"response":"{\n    \u0022object\u0022: \u0022list\u0022,\n    \u0022data\u0022: [\n        {\n            \u0022id\u0022: \u0022string\u0022,\n            \u0022name\u0022: \u0022string\u0022,\n            \u0022base_model\u0022: \u0022string\u0022,\n            \u0022type\u0022: \u0022string\u0022,\n            \u0022input_file_id\u0022: \u0022string\u0022,\n            \u0022created_at\u0022: 0,\n            \u0022fine_tuned_model\u0022: \u0022string\u0022\n        }\n    ]\n}\n"}]}},"post":{"operationId":"createFineTuning","summary":"Creates a new fine tuning for the already uploaded files This endpoint is in closed beta. [Contact us](https://groq.com/contact) for more information.","tags":["Fine Tuning"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFineTuningRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadFineTuningResponse"}}}}},"x-groq-metadata":{"returns":"The newly created fine tune","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/v1/fine_tunings -s \\\n    -H \u0022Content-Type: application/json\u0022 \\\n    -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n    -d \u0027{\n        \u0022input_file_id\u0022: \u0022\u003Cfile-id\u003E\u0022,\n        \u0022name\u0022: \u0022test-1\u0022,\n        \u0022type\u0022: \u0022lora\u0022,\n        \u0022base_model\u0022: \u0022llama-3.1-8b-instant\u0022\n    }\u0027\n","js":"import Groq from \u0022groq-sdk\u0022;\n\nconst groq = new Groq({ apiKey: process.env.GROQ_API_KEY });\n\nasync function main() {\n    const fineTunings = await groq.fine_tunings.create({\n        input_file_id: \u0022\u003Cfile-id\u003E\u0022,\n        name: \u0022test-1\u0022,\n        type: \u0022lora\u0022,\n        base_model: \u0022llama-3.1-8b-instant\u0022\n    });\n    console.log(fineTunings);\n}\n\nmain();\n","py":"import os\n\nfrom groq import Groq\n\nclient = Groq(\n    # This is the default and can be omitted\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),\n)\n\nfine_tunings = client.fine_tunings.create(\n    input_file_id=\u0022\u003Cfile-id\u003E\u0022,\n    name=\u0022test-1\u0022,\n    type=\u0022lora\u0022,\n    base_model=\u0022llama-3.1-8b-instant\u0022\n)\n\nprint(fine_tunings)\n"},"response":"{\n    \u0022id\u0022: \u0022string\u0022,\n    \u0022object\u0022: \u0022object\u0022,\n    \u0022data\u0022: {\n        \u0022id\u0022: \u0022string\u0022,\n        \u0022name\u0022: \u0022string\u0022,\n        \u0022base_model\u0022: \u0022string\u0022,\n        \u0022type\u0022: \u0022string\u0022,\n        \u0022input_file_id\u0022: \u0022string\u0022,\n        \u0022created_at\u0022: 0,\n        \u0022fine_tuned_model\u0022: \u0022string\u0022\n    }\n}\n"}]}}},"/v1/fine_tunings/{id}":{"delete":{"operationId":"deleteFineTuning","summary":"Deletes an existing fine tuning by id This endpoint is in closed beta. [Contact us](https://groq.com/contact) for more information.","tags":["Fine Tuning"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteFineTuningResponse"}}}}},"parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"x-groq-metadata":{"returns":"A confirmation of the deleted fine tune","examples":[{"title":"Default","request":{"curl":"curl -X DELETE https://api.groq.com/v1/fine_tunings/:id -s \\\n    -H \u0022Content-Type: application/json\u0022 \\\n    -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022\n","js":"import Groq from \u0022groq-sdk\u0022;\n\nconst groq = new Groq({ apiKey: process.env.GROQ_API_KEY });\n\nasync function main() {\n    await groq.fine_tunings.delete({id: \u0022\u003Cid\u003E\u0022});\n}\n\nmain();\n","py":"import os\n\nfrom groq import Groq\n\nclient = Groq(\n    # This is the default and can be omitted\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),\n)\n\nclient.fine_tunings.delete(id=\u0022\u003Cid\u003E\u0022)\n"},"response":"{\n    \u0022id\u0022: \u0022string\u0022,\n    \u0022object\u0022: \u0022fine_tuning\u0022,\n    \u0022deleted\u0022: true\n}\n"}]}},"get":{"operationId":"getFineTuning","summary":"Retrieves an existing fine tuning by id This endpoint is in closed beta. [Contact us](https://groq.com/contact) for more information.","tags":["Fine Tuning"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadFineTuningResponse"}}}}},"parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"x-groq-metadata":{"returns":"A fine tune metadata object","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/v1/fine_tunings/:id -s \\\n    -H \u0022Content-Type: application/json\u0022 \\\n    -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022\n","js":"import Groq from \u0022groq-sdk\u0022;\n\nconst groq = new Groq({ apiKey: process.env.GROQ_API_KEY });\n\nasync function main() {\n    const fineTuning = await groq.fine_tunings.get({id: \u0022\u003Cid\u003E\u0022});\n    console.log(fineTuning);\n}\n\nmain();\n","py":"import os\n\nfrom groq import Groq\n\nclient = Groq(\n    # This is the default and can be omitted\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),\n)\n\nfine_tuning = client.fine_tunings.get(id=\u0022\u003Cid\u003E\u0022)\n\nprint(fine_tuning)\n"},"response":"{\n    \u0022id\u0022: \u0022string\u0022,\n    \u0022object\u0022: \u0022object\u0022,\n    \u0022data\u0022: {\n        \u0022id\u0022: \u0022string\u0022,\n        \u0022name\u0022: \u0022string\u0022,\n        \u0022base_model\u0022: \u0022string\u0022,\n        \u0022type\u0022: \u0022string\u0022,\n        \u0022input_file_id\u0022: \u0022string\u0022,\n        \u0022created_at\u0022: 0,\n        \u0022fine_tuned_model\u0022: \u0022string\u0022\n    }\n}\n"}]}}},"/openai/v1/models":{"get":{"operationId":"listModels","tags":["Models"],"summary":"List all available [models](https://console.groq.com/docs/models).","description":"get all available models","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListModelsResponse"}}}}},"x-groq-metadata":{"returns":"A list of model objects.","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/models \\\n-H \u0022Authorization: Bearer $GROQ_API_KEY\u0022\n","js":"import Groq from \u0022groq-sdk\u0022;\n\nconst groq = new Groq({ apiKey: process.env.GROQ_API_KEY });\n\nasync function main() {\n  const models = await groq.models.list();\n  console.log(models);\n}\n\nmain();\n","py":"import os\nfrom groq import Groq\n\nclient = Groq(\n    # This is the default and can be omitted\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),\n)\n\nmodels = client.models.list()\n\nprint(models)\n"},"response":"{\n  \u0022object\u0022: \u0022list\u0022,\n  \u0022data\u0022: [\n    {\n      \u0022id\u0022: \u0022gemma2-9b-it\u0022,\n      \u0022object\u0022: \u0022model\u0022,\n      \u0022created\u0022: 1693721698,\n      \u0022owned_by\u0022: \u0022Google\u0022,\n      \u0022active\u0022: true,\n      \u0022context_window\u0022: 8192,\n      \u0022public_apps\u0022: null\n    },\n    {\n      \u0022id\u0022: \u0022llama3-8b-8192\u0022,\n      \u0022object\u0022: \u0022model\u0022,\n      \u0022created\u0022: 1693721698,\n      \u0022owned_by\u0022: \u0022Meta\u0022,\n      \u0022active\u0022: true,\n      \u0022context_window\u0022: 8192,\n      \u0022public_apps\u0022: null\n    },\n    {\n      \u0022id\u0022: \u0022llama3-70b-8192\u0022,\n      \u0022object\u0022: \u0022model\u0022,\n      \u0022created\u0022: 1693721698,\n      \u0022owned_by\u0022: \u0022Meta\u0022,\n      \u0022active\u0022: true,\n      \u0022context_window\u0022: 8192,\n      \u0022public_apps\u0022: null\n    },\n    {\n      \u0022id\u0022: \u0022whisper-large-v3-turbo\u0022,\n      \u0022object\u0022: \u0022model\u0022,\n      \u0022created\u0022: 1728413088,\n      \u0022owned_by\u0022: \u0022OpenAI\u0022,\n      \u0022active\u0022: true,\n      \u0022context_window\u0022: 448,\n      \u0022public_apps\u0022: null\n    },\n    {\n      \u0022id\u0022: \u0022whisper-large-v3\u0022,\n      \u0022object\u0022: \u0022model\u0022,\n      \u0022created\u0022: 1693721698,\n      \u0022owned_by\u0022: \u0022OpenAI\u0022,\n      \u0022active\u0022: true,\n      \u0022context_window\u0022: 448,\n      \u0022public_apps\u0022: null\n    },\n    {\n      \u0022id\u0022: \u0022llama-guard-3-8b\u0022,\n      \u0022object\u0022: \u0022model\u0022,\n      \u0022created\u0022: 1693721698,\n      \u0022owned_by\u0022: \u0022Meta\u0022,\n      \u0022active\u0022: true,\n      \u0022context_window\u0022: 8192,\n      \u0022public_apps\u0022: null\n    },\n    {\n      \u0022id\u0022: \u0022distil-whisper-large-v3-en\u0022,\n      \u0022object\u0022: \u0022model\u0022,\n      \u0022created\u0022: 1693721698,\n      \u0022owned_by\u0022: \u0022Hugging Face\u0022,\n      \u0022active\u0022: true,\n      \u0022context_window\u0022: 448,\n      \u0022public_apps\u0022: null\n    },\n    {\n      \u0022id\u0022: \u0022llama-3.1-8b-instant\u0022,\n      \u0022object\u0022: \u0022model\u0022,\n      \u0022created\u0022: 1693721698,\n      \u0022owned_by\u0022: \u0022Meta\u0022,\n      \u0022active\u0022: true,\n      \u0022context_window\u0022: 131072,\n      \u0022public_apps\u0022: null\n    }\n  ]\n}\n"}]}}},"/openai/v1/models/{model}":{"get":{"operationId":"retrieveModel","tags":["Models"],"summary":"Get detailed information about a [model](https://console.groq.com/docs/models).","description":"Get a specific model","parameters":[{"name":"model","in":"path","description":"The model to get","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model"}}}}},"x-groq-metadata":{"returns":"A model object.","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/models/llama-3.3-70b-versatile \\\n-H \u0022Authorization: Bearer $GROQ_API_KEY\u0022\n","js":"import Groq from \u0022groq-sdk\u0022;\n\nconst groq = new Groq({ apiKey: process.env.GROQ_API_KEY });\n\nasync function main() {\n  const model = await groq.models.retrieve(\u0022llama-3.3-70b-versatile\u0022);\n  console.log(model);\n}\n\nmain();\n","py":"import os\nfrom groq import Groq\n\nclient = Groq(\n    # This is the default and can be omitted\n    api_key=os.environ.get(\u0022GROQ_API_KEY\u0022),\n)\n\nmodel = client.models.retrieve(\u0022llama-3.3-70b-versatile\u0022)\n\nprint(model)\n"},"response":"{\n  \u0022id\u0022: \u0022llama3-8b-8192\u0022,\n  \u0022object\u0022: \u0022model\u0022,\n  \u0022created\u0022: 1693721698,\n  \u0022owned_by\u0022: \u0022Meta\u0022,\n  \u0022active\u0022: true,\n  \u0022context_window\u0022: 8192,\n  \u0022public_apps\u0022: null,\n  \u0022max_completion_tokens\u0022: 8192\n}\n"}]}},"delete":{"operationId":"deleteModel","tags":["Models"],"summary":"Delete model","description":"Delete a model","parameters":[{"in":"path","name":"model","description":"The model to delete","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteModelResponse"}}}}}}},"/openai/v1/reranking":{"post":{"operationId":"createReranking","tags":["Reranking"],"summary":"Reranks documents based on their relevance to a query.","description":"Given a query and a list of documents, returns the documents ranked by their relevance to the query.\nThe documents are scored and sorted in descending order of relevance.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RerankingRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RerankingResponse"}}}}},"x-groq-metadata":{"returns":"A list of documents sorted by relevance score in descending order. \nScores range from 0.0 to 1.0, where higher scores indicate greater relevance to the query.\n","examples":[{"title":"Basic Reranking","request":{"curl":"curl https://api.groq.com/openai/v1/reranking \\\n  -H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n  -H \u0022Content-Type: application/json\u0022 \\\n  -d \u0027{\n    \u0022model\u0022: \u0022qwen3-reranker-4b\u0022,\n    \u0022query\u0022: \u0022artificial intelligence\u0022,\n    \u0022docs\u0022: [\n      \u0022Machine learning is a subset of AI\u0022,\n      \u0022The weather is nice today\u0022,\n      \u0022Deep learning uses neural networks\u0022\n    ]\n  }\u0027\n","py":"import os\nfrom groq import Groq\n\nclient = Groq(api_key=os.environ.get(\u0022GROQ_API_KEY\u0022))\n\nreranking = client.reranking.create(\n    model=\u0022qwen3-reranker-4b\u0022,\n    query=\u0022artificial intelligence\u0022,\n    docs=[\n        \u0022Machine learning is a subset of AI\u0022,\n        \u0022The weather is nice today\u0022, \n        \u0022Deep learning uses neural networks\u0022\n    ]\n)\nprint(reranking.results)\n","js":"import Groq from \u0027groq-sdk\u0027;\n\nconst client = new Groq({\n  apiKey: process.env[\u0027GROQ_API_KEY\u0027],\n});\n\nasync function main() {\n  const reranking = await client.reranking.create({\n    model: \u0027qwen3-reranker-4b\u0027,\n    query: \u0027artificial intelligence\u0027,\n    docs: [\n      \u0027Machine learning is a subset of AI\u0027,\n      \u0027The weather is nice today\u0027,\n      \u0027Deep learning uses neural networks\u0027\n    ]\n  });\n  console.log(reranking.results);\n}\nmain();\n"},"response":"{\n  \u0022results\u0022: [\n    {\n      \u0022doc\u0022: \u0022Machine learning is a subset of AI\u0022,\n      \u0022score\u0022: 0.92\n    },\n    {\n      \u0022doc\u0022: \u0022Deep learning uses neural networks\u0022, \n      \u0022score\u0022: 0.87\n    },\n    {\n      \u0022doc\u0022: \u0022The weather is nice today\u0022,\n      \u0022score\u0022: 0.23\n    }\n  ]\n}\n"},{"title":"Reranking with Custom Instruction","request":{"json":"{\n  \u0022model\u0022: \u0022qwen3-reranker-4b\u0022,\n  \u0022query\u0022: \u0022climate change effects\u0022,\n  \u0022docs\u0022: [\n    \u0022Global warming causes sea level rise\u0022,\n    \u0022Electric cars reduce emissions\u0022,\n    \u0022Renewable energy is growing fast\u0022\n  ],\n  \u0022instruction\u0022: \u0022Find documents specifically about environmental impacts\u0022\n}\n"},"response":"{\n  \u0022results\u0022: [\n    {\n      \u0022doc\u0022: \u0022Global warming causes sea level rise\u0022,\n      \u0022score\u0022: 0.95\n    },\n    {\n      \u0022doc\u0022: \u0022Electric cars reduce emissions\u0022,\n      \u0022score\u0022: 0.78\n    },\n    {\n      \u0022doc\u0022: \u0022Renewable energy is growing fast\u0022,\n      \u0022score\u0022: 0.65\n    }\n  ]\n}\n"}]}}},"/openai/v1/responses":{"post":{"operationId":"createResponse","tags":["Responses"],"summary":"Creates a model response for the given input.","requestBody":{"required":true,"description":"The input prompt and parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateResponseRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateResponseResponse"}}}}},"x-groq-metadata":{"returns":"Returns a [response](/docs/api-reference#responses-create) object, or a streamed sequence of [response events](/docs/api-reference#responses-streaming) if the request is streamed.","examples":[{"title":"Default","request":{"curl":"curl https://api.groq.com/openai/v1/responses -s \\\n-H \u0022Content-Type: application/json\u0022 \\\n-H \u0022Authorization: Bearer $GROQ_API_KEY\u0022 \\\n-d \u0027{\n  \u0022model\u0022: \u0022openai/gpt-oss-120b\u0022,\n  \u0022input\u0022: \u0022Tell me a three sentence bedtime story about a unicorn.\u0022\n}\u0027\n"},"response":"{\n  \u0022id\u0022: \u0022resp_01k1x6w9ane6d8rfxm05cb45yk\u0022,\n  \u0022object\u0022: \u0022response\u0022,\n  \u0022status\u0022: \u0022completed\u0022,\n  \u0022created_at\u0022: 1754400695,\n  \u0022output\u0022: [\n    {\n      \u0022type\u0022: \u0022message\u0022,\n      \u0022id\u0022: \u0022msg_01k1x6w9ane6eb0650crhawwyy\u0022,\n      \u0022status\u0022: \u0022completed\u0022,\n      \u0022role\u0022: \u0022assistant\u0022,\n      \u0022content\u0022: [\n        {\n          \u0022type\u0022: \u0022output_text\u0022,\n          \u0022text\u0022: \u0022When the stars blinked awake, Luna the unicorn curled her mane and whispered wishes to the sleeping pine trees. She galloped through a field of moonlit daisies, gathering dew like tiny silver pearls. With a gentle sigh, she tucked her hooves beneath a silver cloud so the world slept softly, dreaming of her gentle hooves until the morning.\u0022,\n          \u0022annotations\u0022: []\n        }\n      ]\n    }\n  ],\n  \u0022previous_response_id\u0022: null,\n  \u0022model\u0022: \u0022llama-3.3-70b-versatile\u0022,\n  \u0022reasoning\u0022: {\n    \u0022effort\u0022: null,\n    \u0022summary\u0022: null\n  },\n  \u0022max_output_tokens\u0022: null,\n  \u0022instructions\u0022: null,\n  \u0022text\u0022: {\n    \u0022format\u0022: {\n      \u0022type\u0022: \u0022text\u0022\n    }\n  },\n  \u0022tools\u0022: [],\n  \u0022tool_choice\u0022: \u0022auto\u0022,\n  \u0022truncation\u0022: \u0022disabled\u0022,\n  \u0022metadata\u0022: {},\n  \u0022temperature\u0022: 1,\n  \u0022top_p\u0022: 1,\n  \u0022user\u0022: null,\n  \u0022service_tier\u0022: \u0022default\u0022,\n  \u0022error\u0022: null,\n  \u0022incomplete_details\u0022: null,\n  \u0022usage\u0022: {\n    \u0022input_tokens\u0022: 82,\n    \u0022input_tokens_details\u0022: {\n      \u0022cached_tokens\u0022: 0\n    },\n    \u0022output_tokens\u0022: 266,\n    \u0022output_tokens_details\u0022: {\n      \u0022reasoning_tokens\u0022: 0\n    },\n    \u0022total_tokens\u0022: 348\n  },\n  \u0022parallel_tool_calls\u0022: true,\n  \u0022store\u0022: false\n}\n"}]}}}},"components":{"securitySchemes":{"api_key":{"type":"http","scheme":"bearer","bearerFormat":"apiKey"}},"schemas":{"Error":{"type":"object","properties":{"message":{"type":"string","nullable":false},"type":{"type":"string","nullable":false},"param":{"type":"string","nullable":true},"code":{"type":"string","nullable":true},"failed_generation":{"type":"string","nullable":true},"schema_path":{"type":"string","nullable":true},"schema_path_segments":{"type":"array","description":"Segments of the schema path relevant to validation errors.","items":{"type":"string"}},"schema_kind":{"type":"string","nullable":true},"schema_code":{"type":"string","nullable":true},"debug":{"$ref":"#/components/schemas/DebugData"}},"required":["type","message"]},"ErrorResponse":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/Error"}},"required":["error"]},"CreateSpeechRequest":{"type":"object","additionalProperties":false,"properties":{"model":{"description":"One of the [available TTS models](/docs/text-to-speech).\n","anyOf":[{"type":"string"},{"type":"string","enum":["playai-tts","playai-tts-arabic"]}],"example":"playai-tts"},"input":{"example":"The quick brown fox jumped over the lazy dog","type":"string","description":"The text to generate audio for."},"voice":{"description":"The voice to use when generating the audio. List of voices can be found [here](/docs/text-to-speech).","type":"string","example":"Fritz-PlayAI"},"response_format":{"description":"The format of the generated audio. Supported formats are \u0060flac, mp3, mulaw, ogg, wav\u0060.","default":"mp3","type":"string","enum":["flac","mp3","mulaw","ogg","wav"]},"sample_rate":{"type":"integer","description":"The sample rate for generated audio","default":48000,"example":48000,"enum":[8000,16000,22050,24000,32000,44100,48000]},"speed":{"description":"The speed of the generated audio.","example":1,"type":"number","default":1,"minimum":0.5,"maximum":5}},"required":["model","input","voice"]},"CreateTranscriptionRequest":{"type":"object","additionalProperties":false,"properties":{"file":{"description":"The audio file object (not file name) to transcribe, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.\nEither a file or a URL must be provided. Note that the file field is not supported in Batch API requests.\n","type":"string","format":"binary"},"url":{"description":"The audio URL to translate/transcribe (supports Base64URL).\nEither a file or a URL must be provided. For Batch API requests, the URL field is required since the file field is not supported.\n","type":"string"},"model":{"description":"ID of the model to use. \u0060whisper-large-v3\u0060 and \u0060whisper-large-v3-turbo\u0060 are currently available.\n","example":"whisper-large-v3-turbo","anyOf":[{"type":"string"},{"type":"string","enum":["whisper-large-v3","whisper-large-v3-turbo"]}]},"language":{"description":"The language of the input audio. Supplying the input language in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) format will improve accuracy and latency.\n","anyOf":[{"type":"string"},{"type":"string","enum":["en","zh","de","es","ru","ko","fr","ja","pt","tr","pl","ca","nl","ar","sv","it","id","hi","fi","vi","he","uk","el","ms","cs","ro","da","hu","ta","no","th","ur","hr","bg","lt","la","mi","ml","cy","sk","te","fa","lv","bn","sr","az","sl","kn","et","mk","br","eu","is","hy","ne","mn","bs","kk","sq","sw","gl","mr","pa","si","km","sn","yo","so","af","oc","ka","be","tg","sd","gu","am","yi","lo","uz","fo","ht","ps","tk","nn","mt","sa","lb","my","bo","tl","mg","as","tt","haw","ln","ha","ba","jv","su","yue"]}]},"prompt":{"description":"An optional text to guide the model\u0027s style or continue a previous audio segment. The [prompt](/docs/speech-text) should match the audio language.\n","type":"string"},"response_format":{"description":"The format of the transcript output, in one of these options: \u0060json\u0060, \u0060text\u0060, or \u0060verbose_json\u0060.\n","type":"string","enum":["json","text","verbose_json"],"default":"json"},"temperature":{"description":"The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.\n","type":"number","default":0},"timestamp_granularities":{"description":"The timestamp granularities to populate for this transcription. \u0060response_format\u0060 must be set \u0060verbose_json\u0060 to use timestamp granularities. Either or both of these options are supported: \u0060word\u0060, or \u0060segment\u0060. Note: There is no additional latency for segment timestamps, but generating word timestamps incurs additional latency.\n","type":"array","items":{"type":"string","enum":["word","segment"]},"default":["segment"]}},"oneOf":[{"required":["file"]},{"required":["url"]}],"required":["model"]},"CreateTranscriptionResponseJson":{"type":"object","description":"Represents a transcription response returned by model, based on the provided input.","properties":{"text":{"type":"string","description":"The transcribed text."}},"required":["text"]},"TranscriptionSegment":{"type":"object","properties":{"id":{"type":"integer","description":"Unique identifier of the segment."},"seek":{"type":"integer","description":"Seek offset of the segment."},"start":{"type":"number","format":"float","description":"Start time of the segment in seconds."},"end":{"type":"number","format":"float","description":"End time of the segment in seconds."},"text":{"type":"string","description":"Text content of the segment."},"tokens":{"type":"array","items":{"type":"integer"},"description":"Array of token IDs for the text content."},"temperature":{"type":"number","format":"float","description":"Temperature parameter used for generating the segment."},"avg_logprob":{"type":"number","format":"float","description":"Average logprob of the segment. If the value is lower than -1, consider the logprobs failed."},"compression_ratio":{"type":"number","format":"float","description":"Compression ratio of the segment. If the value is greater than 2.4, consider the compression failed."},"no_speech_prob":{"type":"number","format":"float","description":"Probability of no speech in the segment. If the value is higher than 1.0 and the \u0060avg_logprob\u0060 is below -1, consider this segment silent."},"audio_text":{"type":"string","description":"Transcribed text for the entire chunk"},"token_scores":{"type":"array","items":{"type":"number","format":"float"},"description":"Token-level scores."},"chunk_start":{"type":"integer","description":"Start chunk timestamp."},"chunk_end":{"type":"integer","description":"End chunk timestamp."}},"required":["id","seek","start","end","text","tokens"]},"TranscriptionWord":{"type":"object","properties":{"word":{"type":"string","description":"The text content of the word."},"start":{"type":"number","format":"float","description":"Start time of the word in seconds."},"end":{"type":"number","format":"float","description":"End time of the word in seconds."}},"required":["word","start","end"]},"CreateTranscriptionResponseVerboseJson":{"type":"object","description":"Represents a verbose json transcription response returned by model, based on the provided input.","properties":{"language":{"type":"string","description":"The language of the input audio."},"duration":{"type":"string","description":"The duration of the input audio."},"text":{"type":"string","description":"The transcribed text."},"words":{"type":"array","description":"Extracted words and their corresponding timestamps.","items":{"$ref":"#/components/schemas/TranscriptionWord"}},"segments":{"type":"array","description":"Segments of the transcribed text and their corresponding details.","items":{"$ref":"#/components/schemas/TranscriptionSegment"}}},"required":["language","duration","text"]},"CreateTranslationRequest":{"type":"object","additionalProperties":false,"properties":{"file":{"description":"The audio file object (not file name) translate, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.\n","type":"string","format":"binary"},"url":{"description":"The audio URL to translate/transcribe (supports Base64URL). Either file or url must be provided.\nWhen using the Batch API only url is supported.\n","type":"string"},"model":{"description":"ID of the model to use. \u0060whisper-large-v3\u0060 and \u0060whisper-large-v3-turbo\u0060 are currently available.\n","example":"whisper-large-v3-turbo","anyOf":[{"type":"string"},{"type":"string","enum":["whisper-large-v3","whisper-large-v3-turbo"]}]},"prompt":{"description":"An optional text to guide the model\u0027s style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text/prompting) should be in English.\n","type":"string"},"response_format":{"description":"The format of the transcript output, in one of these options: \u0060json\u0060, \u0060text\u0060, or \u0060verbose_json\u0060.\n","type":"string","enum":["json","text","verbose_json"],"default":"json"},"temperature":{"description":"The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.\n","type":"number","default":0}},"oneOf":[{"required":["file"]},{"required":["url"]}],"required":["model"]},"CreateTranslationResponseJson":{"type":"object","properties":{"text":{"type":"string"}},"required":["text"]},"CreateTranslationResponseVerboseJson":{"type":"object","properties":{"language":{"type":"string","description":"The language of the output translation (always \u0060english\u0060)."},"duration":{"type":"string","description":"The duration of the input audio."},"text":{"type":"string","description":"The translated text."},"segments":{"type":"array","description":"Segments of the translated text and their corresponding details.","items":{"$ref":"#/components/schemas/TranscriptionSegment"}}},"required":["language","duration","text"]},"Batch":{"type":"object","properties":{"id":{"type":"string"},"object":{"type":"string","enum":["batch"],"description":"The object type, which is always \u0060batch\u0060.","x-stainless-const":true},"endpoint":{"type":"string","description":"The API endpoint used by the batch."},"errors":{"type":"object","properties":{"object":{"type":"string","description":"The object type, which is always \u0060list\u0060."},"data":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"An error code identifying the error type."},"message":{"type":"string","description":"A human-readable message providing more details about the error."},"param":{"type":"string","description":"The name of the parameter that caused the error, if applicable.","nullable":true},"line":{"type":"integer","description":"The line number of the input file where the error occurred, if applicable.","nullable":true}}}}}},"input_file_id":{"type":"string","description":"The ID of the input file for the batch."},"completion_window":{"type":"string","description":"The time frame within which the batch should be processed."},"status":{"type":"string","description":"The current status of the batch.","enum":["validating","failed","in_progress","finalizing","completed","expired","cancelling","cancelled"]},"output_file_id":{"type":"string","description":"The ID of the file containing the outputs of successfully executed requests."},"error_file_id":{"type":"string","description":"The ID of the file containing the outputs of requests with errors."},"created_at":{"type":"integer","description":"The Unix timestamp (in seconds) for when the batch was created."},"in_progress_at":{"type":"integer","description":"The Unix timestamp (in seconds) for when the batch started processing."},"expires_at":{"type":"integer","description":"The Unix timestamp (in seconds) for when the batch will expire."},"finalizing_at":{"type":"integer","description":"The Unix timestamp (in seconds) for when the batch started finalizing."},"completed_at":{"type":"integer","description":"The Unix timestamp (in seconds) for when the batch was completed."},"failed_at":{"type":"integer","description":"The Unix timestamp (in seconds) for when the batch failed."},"expired_at":{"type":"integer","description":"The Unix timestamp (in seconds) for when the batch expired."},"cancelling_at":{"type":"integer","description":"The Unix timestamp (in seconds) for when the batch started cancelling."},"cancelled_at":{"type":"integer","description":"The Unix timestamp (in seconds) for when the batch was cancelled."},"request_counts":{"type":"object","properties":{"total":{"type":"integer","description":"Total number of requests in the batch."},"completed":{"type":"integer","description":"Number of requests that have been completed successfully."},"failed":{"type":"integer","description":"Number of requests that have failed."}},"required":["total","completed","failed"],"description":"The request counts for different statuses within the batch."},"metadata":{"description":"Set of key-value pairs that can be attached to an object. This can be useful for storing additional information about the object in a structured format.\n","type":"object","nullable":true}},"required":["id","object","endpoint","input_file_id","completion_window","status","created_at"]},"BatchRequestInput":{"type":"object","description":"The per-line object of the batch input file","properties":{"custom_id":{"type":"string","description":"A developer-provided per-request id that will be used to match outputs to inputs. Must be unique for each request in a batch."},"method":{"type":"string","enum":["POST"],"description":"The HTTP method to be used for the request. Currently only \u0060POST\u0060 is supported.","x-stainless-const":true},"url":{"type":"string","description":"The OpenAI API relative URL to be used for the request. Currently \u0060/v1/chat/completions\u0060 is supported."}}},"BatchRequestOutput":{"type":"object","description":"The per-line object of the batch output and error files","properties":{"id":{"type":"string"},"custom_id":{"type":"string","description":"A developer-provided per-request id that will be used to match outputs to inputs."},"response":{"type":"object","nullable":true,"properties":{"status_code":{"type":"integer","description":"The HTTP status code of the response"},"request_id":{"type":"string","description":"An unique identifier for the OpenAI API request. Please include this request ID when contacting support."},"body":{"type":"object","description":"The JSON body of the response"}}},"error":{"type":"object","nullable":true,"description":"For requests that failed with a non-HTTP error, this will contain more information on the cause of the failure.","properties":{"code":{"type":"string","description":"A machine-readable error code."},"message":{"type":"string","description":"A human-readable error message."}}}}},"ListBatchesResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Batch"}},"object":{"type":"string","enum":["list"],"x-stainless-const":true}},"required":["object","data"]},"ChatCompletionRequestMessageContentPart":{"oneOf":[{"$ref":"#/components/schemas/ChatCompletionRequestMessageContentPartText"},{"$ref":"#/components/schemas/ChatCompletionRequestMessageContentPartImage"},{"$ref":"#/components/schemas/ChatCompletionRequestMessageContentPartDocument"}]},"ChatCompletionRequestMessageContentPartImage":{"type":"object","title":"Image content part","properties":{"type":{"type":"string","enum":["image_url"],"description":"The type of the content part."},"image_url":{"type":"object","properties":{"url":{"type":"string","description":"Either a URL of the image or the base64 encoded image data.","format":"uri"},"detail":{"type":"string","description":"Specifies the detail level of the image.","enum":["auto","low","high"],"default":"auto"}},"required":["url"]}},"required":["type","image_url"]},"ChatCompletionRequestMessageContentPartText":{"type":"object","title":"Text content part","properties":{"type":{"type":"string","enum":["text"],"description":"The type of the content part."},"text":{"type":"string","description":"The text content."}},"required":["type","text"]},"ChatCompletionRequestMessageContentPartDocument":{"type":"object","title":"Document content part","properties":{"type":{"type":"string","enum":["document"],"description":"The type of the content part."},"document":{"type":"object","properties":{"data":{"type":"object","description":"The JSON document data.","additionalProperties":true},"id":{"type":"string","nullable":true,"description":"Optional unique identifier for the document."}},"required":["data"]}},"required":["type","document"]},"ChatCompletionDocument":{"type":"object","title":"Document","description":"A document that can be referenced by the model while generating responses.","additionalProperties":false,"properties":{"id":{"type":"string","nullable":true,"description":"Optional unique identifier that can be used for citations in responses."},"source":{"$ref":"#/components/schemas/ChatCompletionDocumentSource"}},"required":["source"]},"ChatCompletionDocumentSource":{"title":"Document source","description":"The source of the document. Only text and JSON sources are currently supported.","oneOf":[{"$ref":"#/components/schemas/ChatCompletionDocumentSourceText"},{"$ref":"#/components/schemas/ChatCompletionDocumentSourceJSON"}],"discriminator":{"propertyName":"type","mapping":{"text":"#/components/schemas/ChatCompletionDocumentSourceText","json":"#/components/schemas/ChatCompletionDocumentSourceJSON"}}},"ChatCompletionDocumentSourceText":{"type":"object","title":"Text document source","description":"A document whose contents are provided inline as text.","additionalProperties":false,"properties":{"type":{"type":"string","enum":["text"],"description":"Identifies this document source as inline text."},"text":{"type":"string","description":"The document contents."}},"required":["type","text"]},"ChatCompletionDocumentSourceJSON":{"type":"object","title":"JSON document source","description":"A document whose contents are provided inline as JSON data.","additionalProperties":false,"properties":{"type":{"type":"string","enum":["json"],"description":"Identifies this document source as JSON data."},"data":{"type":"object","description":"The JSON payload associated with the document.","additionalProperties":true}},"required":["type","data"]},"ChatCompletionRequestMessage":{"oneOf":[{"$ref":"#/components/schemas/ChatCompletionRequestSystemMessage"},{"$ref":"#/components/schemas/ChatCompletionRequestUserMessage"},{"$ref":"#/components/schemas/ChatCompletionRequestAssistantMessage"},{"$ref":"#/components/schemas/ChatCompletionRequestToolMessage"},{"$ref":"#/components/schemas/ChatCompletionRequestFunctionMessage"}],"discriminator":{"propertyName":"role","mapping":{"system":"#/components/schemas/ChatCompletionRequestSystemMessage","developer":"#/components/schemas/ChatCompletionRequestSystemMessage","user":"#/components/schemas/ChatCompletionRequestUserMessage","assistant":"#/components/schemas/ChatCompletionRequestAssistantMessage","tool":"#/components/schemas/ChatCompletionRequestToolMessage","function":"#/components/schemas/ChatCompletionRequestFunctionMessage"}}},"ChatCompletionRequestSystemMessage":{"type":"object","title":"System message","additionalProperties":false,"properties":{"content":{"title":"System message content","description":"The contents of the system message.","oneOf":[{"type":"string","title":"Text content","description":"The text contents of the message."},{"type":"array","title":"Array of content parts","description":"An array of content parts with a defined type, only \u0060text\u0060 is supported for this message type.","items":{"$ref":"#/components/schemas/ChatCompletionRequestMessageContentPartText"},"minItems":1}]},"role":{"type":"string","enum":["system","developer"],"description":"The role of the messages author, in this case \u0060system\u0060."},"name":{"type":"string","description":"An optional name for the participant. Provides the model information to differentiate between participants of the same role."}},"required":["content","role"]},"ChatCompletionRequestUserMessage":{"type":"object","title":"User message","additionalProperties":false,"properties":{"content":{"title":"User message content","description":"The contents of the user message.\n","oneOf":[{"type":"string","description":"The text contents of the message.","title":"Text content"},{"type":"array","description":"An array of content parts with a defined type, each can be of type \u0060text\u0060 or \u0060image_url\u0060 when passing in images. You can pass multiple images by adding multiple \u0060image_url\u0060 content parts. Image input is only supported when using the \u0060gpt-4-visual-preview\u0060 model.","title":"Array of content parts","items":{"$ref":"#/components/schemas/ChatCompletionRequestMessageContentPart"},"minItems":1}]},"role":{"type":"string","enum":["user"],"description":"The role of the messages author, in this case \u0060user\u0060."},"name":{"type":"string","description":"An optional name for the participant. Provides the model information to differentiate between participants of the same role."}},"required":["content","role"]},"ChatCompletionRequestAssistantMessage":{"type":"object","title":"Assistant message","additionalProperties":false,"properties":{"content":{"title":"Assistant message content","nullable":true,"description":"The contents of the assistant message. Required unless \u0060tool_calls\u0060 or \u0060function_call\u0060 is specified.\n","oneOf":[{"type":"string","title":"Text content","description":"The text contents of the message."},{"type":"array","description":"An array of content parts with a defined type, only \u0060text\u0060 is supported for this message type.","title":"Array of content parts","items":{"$ref":"#/components/schemas/ChatCompletionRequestMessageContentPartText"}}]},"reasoning":{"description":"The reasoning output by the assistant if reasoning_format was set to \u0027parsed\u0027.\nThis field is supported on [models that support reasoning](https://console.groq.com/docs/reasoning).\n","nullable":true,"type":"string"},"role":{"type":"string","enum":["assistant"],"description":"The role of the messages author, in this case \u0060assistant\u0060."},"name":{"type":"string","description":"An optional name for the participant. Provides the model information to differentiate between participants of the same role."},"tool_calls":{"$ref":"#/components/schemas/ChatCompletionMessageToolCalls"},"function_call":{"type":"object","deprecated":true,"description":"Deprecated and replaced by \u0060tool_calls\u0060. The name and arguments of a function that should be called, as generated by the model.","properties":{"arguments":{"type":"string","description":"The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."},"name":{"type":"string","description":"The name of the function to call."}}}},"required":["role"]},"ChatCompletionRequestToolMessage":{"type":"object","title":"Tool message","additionalProperties":false,"properties":{"role":{"type":"string","enum":["tool"],"description":"The role of the messages author, in this case \u0060tool\u0060."},"content":{"description":"The contents of the tool message.","title":"Tool message content","oneOf":[{"type":"string","description":"The text contents of the message.","title":"Text content"},{"type":"array","description":"An array of content parts with a defined type, each can be of type \u0060text\u0060 or \u0060image_url\u0060 when passing in images. You can pass multiple images by adding multiple \u0060image_url\u0060 content parts. Image input is only supported when using the \u0060gpt-4-visual-preview\u0060 model.","title":"Array of content parts","items":{"$ref":"#/components/schemas/ChatCompletionRequestMessageContentPart"},"minItems":1}]},"tool_call_id":{"type":"string","description":"Tool call that this message is responding to."}},"required":["role","content","tool_call_id"]},"ChatCompletionRequestFunctionMessage":{"type":"object","title":"Function message","additionalProperties":false,"deprecated":true,"properties":{"role":{"type":"string","enum":["function"],"description":"The role of the messages author, in this case \u0060function\u0060."},"content":{"nullable":true,"title":"Function message content","type":"string","description":"The contents of the function message."},"name":{"type":"string","description":"The name of the function to call."}},"required":["role","content","name"]},"FunctionParameters":{"type":"object","description":"Function parameters defined as a JSON Schema object. Refer to https://json-schema.org/understanding-json-schema/ for schema documentation.","additionalProperties":true},"ChatCompletionFunctions":{"type":"object","deprecated":true,"properties":{"description":{"type":"string","description":"A description of what the function does, used by the model to choose when and how to call the function."},"name":{"type":"string","description":"The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."},"parameters":{"$ref":"#/components/schemas/FunctionParameters"}},"required":["name"]},"ChatCompletionFunctionCallOption":{"type":"object","description":"Specifying a particular function via \u0060{\u0022name\u0022: \u0022my_function\u0022}\u0060 forces the model to call that function.\n","properties":{"name":{"type":"string","description":"The name of the function to call."}},"required":["name"]},"ChatCompletionTool":{"type":"object","properties":{"type":{"anyOf":[{"type":"string","enum":["function","browser_search","code_interpreter"],"description":"The type of the tool. \u0060function\u0060, \u0060browser_search\u0060, and \u0060code_interpreter\u0060 are supported."},{"type":"string"}]},"function":{"$ref":"#/components/schemas/FunctionObject"}},"required":["type"]},"FunctionObject":{"type":"object","properties":{"description":{"type":"string","description":"A description of what the function does, used by the model to choose when and how to call the function."},"name":{"type":"string","description":"The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."},"parameters":{"$ref":"#/components/schemas/FunctionParameters"},"strict":{"type":"boolean","default":false,"description":"Whether to enable strict schema adherence when generating the output. If set to true, the model will always follow the exact schema defined in the \u0060schema\u0060 field. Only a subset of JSON Schema is supported when \u0060strict\u0060 is \u0060true\u0060.\n"}},"required":["name"]},"ChatCompletionToolChoiceOption":{"nullable":true,"description":"Controls which (if any) tool is called by the model.\n\u0060none\u0060 means the model will not call any tool and instead generates a message.\n\u0060auto\u0060 means the model can pick between generating a message or calling one or more tools.\n\u0060required\u0060 means the model must call one or more tools.\nSpecifying a particular tool via \u0060{\u0022type\u0022: \u0022function\u0022, \u0022function\u0022: {\u0022name\u0022: \u0022my_function\u0022}}\u0060 forces the model to call that tool.\n\n\u0060none\u0060 is the default when no tools are present. \u0060auto\u0060 is the default if tools are present.\n","oneOf":[{"type":"string","description":"\u0060none\u0060 means the model will not call any tool and instead generates a message. \u0060auto\u0060 means the model can pick between generating a message or calling one or more tools.\n","enum":["none","auto","required"]},{"$ref":"#/components/schemas/ChatCompletionNamedToolChoice"}],"x-groq-meta":{"validator":"ChatCompletionToolChoiceOption"}},"ChatCompletionNamedToolChoice":{"type":"object","description":"Specifies a tool the model should use. Use to force the model to call a specific function.","properties":{"type":{"type":"string","enum":["function"],"description":"The type of the tool. Currently, only \u0060function\u0060 is supported."},"function":{"type":"object","properties":{"name":{"type":"string","description":"The name of the function to call."}},"required":["name"]}},"required":["type","function"]},"ChatCompletionMessageToolCalls":{"type":"array","description":"The tool calls generated by the model, such as function calls.","items":{"$ref":"#/components/schemas/ChatCompletionMessageToolCall"}},"ChatCompletionMessageToolCall":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the tool call."},"type":{"type":"string","enum":["function"],"description":"The type of the tool. Currently, only \u0060function\u0060 is supported."},"function":{"type":"object","description":"The function that the model called.","properties":{"name":{"type":"string","description":"The name of the function to call."},"arguments":{"type":"string","description":"The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."}},"required":["name","arguments"]}},"required":["id","type","function"]},"ChatCompletionMessageToolCallChunk":{"type":"object","properties":{"index":{"type":"integer"},"id":{"type":"string","description":"The ID of the tool call."},"type":{"type":"string","enum":["function"],"description":"The type of the tool. Currently, only \u0060function\u0060 is supported."},"function":{"type":"object","properties":{"name":{"type":"string","description":"The name of the function to call."},"arguments":{"type":"string","description":"The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."}}}},"required":["index"]},"ChatCompletionRole":{"type":"string","description":"The role of the author of a message","enum":["system","user","assistant","tool","function"]},"ChatCompletionStreamOptions":{"description":"Options for streaming response. Only set this when you set \u0060stream: true\u0060.\n","type":"object","nullable":true,"default":null,"properties":{"include_usage":{"type":"boolean","nullable":true,"description":"If set, an additional chunk will be streamed before the \u0060data: [DONE]\u0060 message. The \u0060usage\u0060 field on this chunk shows the token usage statistics for the entire request, and the \u0060choices\u0060 field will always be an empty array. All other chunks will also include a \u0060usage\u0060 field, but with a null value.\n"}}},"ChatCompletionResponseMessage":{"type":"object","description":"A chat completion message generated by the model.","properties":{"content":{"type":"string","description":"The contents of the message.","nullable":true},"reasoning":{"type":"string","description":"The model\u0027s reasoning for a response. Only available for [models that support reasoning](https://console.groq.com/docs/reasoning) when request parameter reasoning_format has value \u0060parsed\u0060.","nullable":true},"tool_calls":{"$ref":"#/components/schemas/ChatCompletionMessageToolCalls"},"executed_tools":{"$ref":"#/components/schemas/ChatCompletionMessageExecutedTools"},"role":{"type":"string","enum":["assistant"],"description":"The role of the author of this message."},"function_call":{"type":"object","deprecated":true,"description":"Deprecated and replaced by \u0060tool_calls\u0060. The name and arguments of a function that should be called, as generated by the model.","properties":{"arguments":{"type":"string","description":"The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."},"name":{"type":"string","description":"The name of the function to call."}},"required":["name","arguments"]},"annotations":{"type":"array","description":"A list of annotations providing citations and references for the content in the message.","items":{"$ref":"#/components/schemas/Annotation"}}},"required":["role","content"]},"ChatCompletionMessageExecutedTools":{"type":"array","description":"A list of tools that were executed during the chat completion for compound AI systems.","items":{"type":"object","properties":{"index":{"type":"integer","description":"The index of the executed tool."},"type":{"type":"string","description":"The type of tool that was executed."},"arguments":{"type":"string","description":"The arguments passed to the tool in JSON format."},"output":{"type":"string","nullable":true,"description":"The output returned by the tool."},"search_results":{"type":"object","nullable":true,"description":"The search results returned by the tool, if applicable.","properties":{"results":{"type":"array","description":"List of search results","items":{"type":"object","properties":{"title":{"type":"string","description":"The title of the search result"},"url":{"type":"string","description":"The URL of the search result"},"content":{"type":"string","description":"The content of the search result"},"score":{"type":"number","format":"float","description":"The relevance score of the search result"}}}},"images":{"type":"array","description":"List of image URLs returned by the search","items":{"type":"string"}}}},"code_results":{"type":"array","items":{"$ref":"#/components/schemas/CodeExecutionResult"},"description":"Array of code execution results"},"browser_results":{"type":"array","items":{"$ref":"#/components/schemas/BrowserResult"},"description":"Array of browser results"}},"required":["index","type","arguments"]}},"ChatCompletionStreamResponseDelta":{"type":"object","description":"A chat completion delta generated by streamed model responses.","properties":{"content":{"type":"string","description":"The contents of the chunk message.","nullable":true},"reasoning":{"type":"string","description":"The model\u0027s reasoning for a response. Only available for [models that support reasoning](https://console.groq.com/docs/reasoning) when request parameter reasoning_format has value \u0060parsed\u0060.","nullable":true},"function_call":{"deprecated":true,"type":"object","description":"Deprecated and replaced by \u0060tool_calls\u0060. The name and arguments of a function that should be called, as generated by the model.","properties":{"arguments":{"type":"string","description":"The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."},"name":{"type":"string","description":"The name of the function to call."}}},"tool_calls":{"type":"array","items":{"$ref":"#/components/schemas/ChatCompletionMessageToolCallChunk"}},"executed_tools":{"$ref":"#/components/schemas/ChatCompletionMessageExecutedTools"},"role":{"type":"string","enum":["system","user","assistant","tool"],"description":"The role of the author of this message."},"annotations":{"type":"array","description":"A list of annotations providing citations and references for the content in the message.","items":{"$ref":"#/components/schemas/Annotation"}}}},"CreateChatCompletionRequest":{"type":"object","additionalProperties":false,"properties":{"messages":{"description":"A list of messages comprising the conversation so far.","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ChatCompletionRequestMessage"}},"model":{"description":"ID of the model to use. For details on which models are compatible with the Chat API, see available [models](https://console.groq.com/docs/models)","example":"meta-llama/llama-4-scout-17b-16e-instruct","anyOf":[{"type":"string"},{"type":"string","enum":["compound-beta","compound-beta-mini","gemma2-9b-it","llama-3.1-8b-instant","llama-3.3-70b-versatile","meta-llama/llama-4-maverick-17b-128e-instruct","meta-llama/llama-4-scout-17b-16e-instruct","meta-llama/llama-guard-4-12b","moonshotai/kimi-k2-instruct","openai/gpt-oss-120b","openai/gpt-oss-20b","qwen/qwen3-32b","qwen/qwen3.6-27b"]}]},"disable_tool_validation":{"type":"boolean","default":false,"description":"If set to true, groq will return called tools without validating that the tool is present in request.tools. tool_choice=required/none will still be enforced, but the request cannot require a specific tool be used.\n"},"frequency_penalty":{"type":"number","default":0,"minimum":-2,"maximum":2,"nullable":true,"description":"This is not yet supported by any of our models. Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model\u0027s likelihood to repeat the same line verbatim."},"include_reasoning":{"type":"boolean","nullable":true,"description":"Whether to include reasoning in the response.  If true, the response will include a \u0060reasoning\u0060 field. If false, the model\u0027s reasoning will not be included in the response.\nThis field is mutually exclusive with \u0060reasoning_format\u0060.\n"},"logit_bias":{"type":"object","default":null,"nullable":true,"additionalProperties":{"type":"integer"},"description":"This is not yet supported by any of our models.\nModify the likelihood of specified tokens appearing in the completion.\n"},"logprobs":{"description":"This is not yet supported by any of our models.\nWhether to return log probabilities of the output tokens or not. If true, returns the log probabilities of each output token returned in the \u0060content\u0060 of \u0060message\u0060.\n","type":"boolean","default":false,"nullable":true},"top_logprobs":{"description":"This is not yet supported by any of our models.\nAn integer between 0 and 20 specifying the number of most likely tokens to return at each token position, each with an associated log probability. \u0060logprobs\u0060 must be set to \u0060true\u0060 if this parameter is used.\n","type":"integer","minimum":0,"maximum":20,"nullable":true},"max_tokens":{"description":"Deprecated in favor of \u0060max_completion_tokens\u0060.\nThe maximum number of tokens that can be generated in the chat completion. The total length of input tokens and generated tokens is limited by the model\u0027s context length.\n","type":"integer","nullable":true,"deprecated":true},"max_completion_tokens":{"description":"The maximum number of tokens that can be generated in the chat completion. The total length of input tokens and generated tokens is limited by the model\u0027s context length.","type":"integer","nullable":true},"n":{"type":"integer","minimum":1,"maximum":1,"default":1,"example":1,"nullable":true,"description":"How many chat completion choices to generate for each input message. Note that the current moment, only n=1 is supported. Other values will result in a 400 response."},"presence_penalty":{"type":"number","default":0,"minimum":-2,"maximum":2,"nullable":true,"description":"This is not yet supported by any of our models. Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model\u0027s likelihood to talk about new topics."},"response_format":{"nullable":true,"description":"An object specifying the format that the model must output. Setting to \u0060{ \u0022type\u0022: \u0022json_schema\u0022, \u0022json_schema\u0022: {...} }\u0060 enables Structured Outputs which ensures the model will match your supplied JSON schema. \u0060json_schema\u0060 response format is only available on [supported models](https://console.groq.com/docs/structured-outputs#supported-models). Setting to \u0060{ \u0022type\u0022: \u0022json_object\u0022 }\u0060 enables the older JSON mode, which ensures the message the model generates is valid JSON. Using \u0060json_schema\u0060 is preferred for models that support it.\n","oneOf":[{"$ref":"#/components/schemas/ResponseFormatText"},{"$ref":"#/components/schemas/ResponseFormatJsonSchema"},{"$ref":"#/components/schemas/ResponseFormatJsonObject"}]},"seed":{"type":"integer","nullable":true,"description":"If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same \u0060seed\u0060 and parameters should return the same result.\nDeterminism is not guaranteed, and you should refer to the \u0060system_fingerprint\u0060 response parameter to monitor changes in the backend.\n"},"service_tier":{"type":"string","nullable":true,"description":"The service tier to use for the request. Defaults to \u0060on_demand\u0060.\n- \u0060auto\u0060 will automatically select the highest tier available within the rate limits of your organization.\n- \u0060flex\u0060 uses the flex tier, which will succeed or fail quickly.\n","enum":["auto","on_demand","flex","performance",null]},"stop":{"description":"Up to 4 sequences where the API will stop generating further tokens. The returned text will not contain the stop sequence.\n","default":null,"nullable":true,"oneOf":[{"type":"string","example":"\n","nullable":true},{"type":"array","minItems":0,"maxItems":4,"items":{"type":"string","example":"[\u0022\\n\u0022]"}}]},"reasoning_effort":{"description":"qwen3 models support the following values\nSet to \u0027none\u0027 to disable reasoning.\nSet to \u0027default\u0027 or null to let Qwen reason.\n\nopenai/gpt-oss-20b and openai/gpt-oss-120b support \u0027low\u0027, \u0027medium\u0027, or \u0027high\u0027.\n\u0027medium\u0027 is the default value.\n","nullable":true,"default":null,"type":"string","enum":["none","default","low","medium","high"]},"reasoning_format":{"description":"Specifies how to output reasoning tokens\nThis field is mutually exclusive with \u0060include_reasoning\u0060.\n","default":null,"nullable":true,"type":"string","enum":["hidden","raw","parsed"]},"stream":{"description":"If set, partial message deltas will be sent. Tokens will be sent as data-only [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format) as they become available, with the stream terminated by a \u0060data: [DONE]\u0060 message. [Example code](/docs/text-chat#streaming-a-chat-completion).\n","type":"boolean","nullable":true,"default":false},"temperature":{"type":"number","minimum":0,"maximum":2,"default":1,"example":1,"nullable":true,"description":"What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. We generally recommend altering this or top_p but not both."},"top_p":{"type":"number","minimum":0,"maximum":1,"default":1,"example":1,"nullable":true,"description":"An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered. We generally recommend altering this or temperature but not both."},"tools":{"type":"array","nullable":true,"maxItems":128,"description":"A list of tools the model may call. Currently, only functions are supported as a tool. Use this to provide a list of functions the model may generate JSON inputs for. A max of 128 functions are supported.\n","items":{"$ref":"#/components/schemas/ChatCompletionTool"}},"tool_choice":{"$ref":"#/components/schemas/ChatCompletionToolChoiceOption"},"parallel_tool_calls":{"description":"Whether to enable parallel function calling during tool use.\n","type":"boolean","nullable":true,"default":true},"user":{"type":"string","description":"A unique identifier representing your end-user, which can help us monitor and detect abuse.","nullable":true},"function_call":{"deprecated":true,"nullable":true,"description":"Deprecated in favor of \u0060tool_choice\u0060.\n\nControls which (if any) function is called by the model.\n\u0060none\u0060 means the model will not call a function and instead generates a message.\n\u0060auto\u0060 means the model can pick between generating a message or calling a function.\nSpecifying a particular function via \u0060{\u0022name\u0022: \u0022my_function\u0022}\u0060 forces the model to call that function.\n\n\u0060none\u0060 is the default when no functions are present. \u0060auto\u0060 is the default if functions are present.\n","oneOf":[{"type":"string","description":"\u0060none\u0060 means the model will not call a function and instead generates a message. \u0060auto\u0060 means the model can pick between generating a message or calling a function.\n","enum":["none","auto","required"]},{"$ref":"#/components/schemas/ChatCompletionFunctionCallOption"}]},"functions":{"deprecated":true,"nullable":true,"description":"Deprecated in favor of \u0060tools\u0060.\n\nA list of functions the model may generate JSON inputs for.\n","type":"array","minItems":0,"maxItems":128,"items":{"$ref":"#/components/schemas/ChatCompletionFunctions"}},"metadata":{"type":"object","nullable":true,"additionalProperties":{"type":"string"},"description":"This parameter is not currently supported.\n"},"store":{"type":"boolean","nullable":true,"description":"This parameter is not currently supported.\n"},"include_domains":{"type":"array","nullable":true,"deprecated":true,"description":"Deprecated: Use search_settings.include_domains instead.\nA list of domains to include in the search results when the model uses a web search tool.\n","items":{"type":"string"}},"exclude_domains":{"type":"array","nullable":true,"deprecated":true,"description":"Deprecated: Use search_settings.exclude_domains instead.\nA list of domains to exclude from the search results when the model uses a web search tool.\n","items":{"type":"string"}},"search_settings":{"type":"object","nullable":true,"description":"Settings for web search functionality when the model uses a web search tool.\n","properties":{"include_domains":{"type":"array","nullable":true,"description":"A list of domains to include in the search results.","items":{"type":"string"}},"exclude_domains":{"type":"array","nullable":true,"description":"A list of domains to exclude from the search results.","items":{"type":"string"}},"include_images":{"type":"boolean","nullable":true,"description":"Whether to include images in the search results."},"country":{"type":"string","nullable":true,"description":"Name of country to prioritize search results from (e.g., \u0022united states\u0022, \u0022germany\u0022, \u0022france\u0022)."}}},"compound_custom":{"type":"object","nullable":true,"description":"Custom configuration of models and tools for Compound.","properties":{"models":{"type":"object","nullable":true,"properties":{"reasoning_model":{"type":"string","nullable":true,"description":"Custom model to use for reasoning."},"answering_model":{"type":"string","nullable":true,"description":"Custom model to use for answering."}}},"tools":{"type":"object","nullable":true,"description":"Configuration options for tools available to Compound.","properties":{"enabled_tool
[...]
