{
  "openapi": "3.0.4",
  "info": {
    "title": "GroqCloud API",
    "description": "Specification of the Groq cloud API",
    "termsOfService": "https://groq.com/terms-of-use/",
    "contact": {
      "name": "Groq Support",
      "email": "support@groq.com"
    },
    "version": "2.1"
  },
  "servers": [
    {
      "url": "https://api.groq.com"
    }
  ],
  "paths": {
    "/openai/v1/audio/speech": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Generates audio from the input text.",
        "operationId": "CreateSpeech",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpeechRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Transfer-Encoding": {
                "description": "chunked",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "audio/wav": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSpeech200WavResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/audio/transcriptions": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Transcribes audio into the input language.",
        "operationId": "CreateTranscription",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateTranscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTranscriptionResponseJson"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/audio/translations": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Translates audio into English.",
        "operationId": "CreateTranslation",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateTranslationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTranslation200PlainResponseSchema"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTranslationResponseJson"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/batches": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Creates and executes a batch from an uploaded file of requests. [Learn more](/docs/batch).",
        "operationId": "CreateBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Batch created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Batch"
        ],
        "summary": "List your organization\u0027s batches.",
        "operationId": "ListBatches",
        "responses": {
          "200": {
            "description": "Batch listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBatchesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/batches/{batchId}": {
      "get": {
        "tags": [
          "Batch"
        ],
        "summary": "Retrieves a batch.",
        "operationId": "RetrieveBatch",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "The ID of the batch to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/batches/{batchId}/cancel": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Cancels a batch.",
        "operationId": "CancelBatch",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "The ID of the batch to cancel.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch cancelled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/chat/completions": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Creates a model response for the given chat conversation.",
        "operationId": "CreateChatCompletion",
        "requestBody": {
          "description": "The chat prompt and parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChatCompletionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/embeddings": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "Creates an embedding vector representing the input text.",
        "operationId": "CreateEmbedding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmbeddingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmbeddingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Returns a list of files.",
        "operationId": "ListFiles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Upload a file that can be used across various endpoints.\n\nThe Batch API only supports \u0060.jsonl\u0060 files up to 100 MB in size. The input also has a specific required [format](/docs/batch).\n\nPlease contact us if you need to increase these storage limits.\n",
        "operationId": "UploadFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/files/{fileId}": {
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Delete a file.",
        "operationId": "DeleteFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file to use for this request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Returns information about a file.",
        "operationId": "RetrieveFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The file to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/files/{fileId}/content": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Returns the contents of the specified file.",
        "operationId": "DownloadFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file to use for this request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadFile200OctetStreamResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fine_tunings": {
      "get": {
        "tags": [
          "Fine Tuning"
        ],
        "summary": "Lists all previously created fine tunings. This endpoint is in closed beta. [Contact us](https://groq.com/contact) for more information.",
        "operationId": "ListFineTunings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFineTuningsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Fine Tuning"
        ],
        "summary": "Creates a new fine tuning for the already uploaded files This endpoint is in closed beta. [Contact us](https://groq.com/contact) for more information.",
        "operationId": "CreateFineTuning",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFineTuningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadFineTuningResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fine_tunings/{id}": {
      "delete": {
        "tags": [
          "Fine Tuning"
        ],
        "summary": "Deletes an existing fine tuning by id This endpoint is in closed beta. [Contact us](https://groq.com/contact) for more information.",
        "operationId": "DeleteFineTuning",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFineTuningResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Fine Tuning"
        ],
        "summary": "Retrieves an existing fine tuning by id This endpoint is in closed beta. [Contact us](https://groq.com/contact) for more information.",
        "operationId": "GetFineTuning",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadFineTuningResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List all available [models](https://console.groq.com/docs/models).",
        "description": "get all available models",
        "operationId": "ListModels",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/models/{model}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get detailed information about a [model](https://console.groq.com/docs/models).",
        "description": "Get a specific model",
        "operationId": "RetrieveModel",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "The model to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelValue"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Models"
        ],
        "summary": "Delete model",
        "description": "Delete a model",
        "operationId": "DeleteModel",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "The model to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteModelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/reranking": {
      "post": {
        "tags": [
          "Reranking"
        ],
        "summary": "Reranks documents based on their relevance to a query.",
        "description": "Given a query and a list of documents, returns the documents ranked by their relevance to the query.\nThe documents are scored and sorted in descending order of relevance.\n",
        "operationId": "CreateReranking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerankingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/responses": {
      "post": {
        "tags": [
          "Responses"
        ],
        "summary": "Creates a model response for the given input.",
        "operationId": "CreateResponse",
        "requestBody": {
          "description": "The input prompt and parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResponseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponseResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "required": [
          "type",
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "param": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "failed_generation": {
            "type": "string",
            "nullable": true
          },
          "schema_path": {
            "type": "string",
            "nullable": true
          },
          "schema_path_segments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Segments of the schema path relevant to validation errors."
          },
          "schema_kind": {
            "type": "string",
            "nullable": true
          },
          "schema_code": {
            "type": "string",
            "nullable": true
          },
          "debug": {
            "$ref": "#/components/schemas/DebugData"
          }
        }
      },
      "ErrorResponse": {
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "CreateSpeechRequest": {
        "required": [
          "model",
          "input",
          "voice"
        ],
        "type": "object",
        "properties": {
          "model": {
            "$ref": "#/components/schemas/CreateSpeechRequestModel"
          },
          "input": {
            "type": "string",
            "description": "The text to generate audio for.",
            "example": "The quick brown fox jumped over the lazy dog"
          },
          "voice": {
            "type": "string",
            "description": "The voice to use when generating the audio. List of voices can be found [here](/docs/text-to-speech).",
            "example": "Fritz-PlayAI"
          },
          "response_format": {
            "$ref": "#/components/schemas/CreateSpeechRequestResponseFormat"
          },
          "sample_rate": {
            "$ref": "#/components/schemas/CreateSpeechRequestSampleRate"
          },
          "speed": {
            "maximum": 5,
            "minimum": 0.5,
            "type": "number",
            "description": "The speed of the generated audio.",
            "default": 1,
            "example": 1
          }
        },
        "additionalProperties": false
      },
      "CreateTranscriptionRequest": {
        "required": [
          "model"
        ],
        "type": "object",
        "oneOf": [
          {
            "required": [
              "file"
            ],
            "type": "object"
          },
          {
            "required": [
              "url"
            ],
            "type": "object"
          }
        ],
        "properties": {
          "file": {
            "type": "string",
            "description": "The audio file object (not file name) to transcribe, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.\nEither a file or a URL must be provided. Note that the file field is not supported in Batch API requests.\n",
            "format": "binary"
          },
          "url": {
            "type": "string",
            "description": "The audio URL to translate/transcribe (supports Base64URL).\nEither a file or a URL must be provided. For Batch API requests, the URL field is required since the file field is not supported.\n"
          },
          "model": {
            "$ref": "#/components/schemas/CreateTranscriptionRequestModel"
          },
          "language": {
            "$ref": "#/components/schemas/CreateTranscriptionRequestLanguage"
          },
          "prompt": {
            "type": "string",
            "description": "An optional text to guide the model\u0027s style or continue a previous audio segment. The [prompt](/docs/speech-text) should match the audio language.\n"
          },
          "response_format": {
            "$ref": "#/components/schemas/CreateTranscriptionRequestResponseFormat"
          },
          "temperature": {
            "type": "number",
            "description": "The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.\n",
            "default": 0
          },
          "timestamp_granularities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateTranscriptionRequestTimestampGranularitiesItem"
            },
            "description": "The timestamp granularities to populate for this transcription. \u0060response_format\u0060 must be set \u0060verbose_json\u0060 to use timestamp granularities. Either or both of these options are supported: \u0060word\u0060, or \u0060segment\u0060. Note: There is no additional latency for segment timestamps, but generating word timestamps incurs additional latency.\n",
            "default": [
              "segment"
            ]
          }
        },
        "additionalProperties": false
      },
      "CreateTranscriptionResponseJson": {
        "required": [
          "text"
        ],
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "The transcribed text."
          }
        },
        "description": "Represents a transcription response returned by model, based on the provided input."
      },
      "TranscriptionSegment": {
        "required": [
          "id",
          "seek",
          "start",
          "end",
          "text",
          "tokens"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the segment."
          },
          "seek": {
            "type": "integer",
            "description": "Seek offset of the segment."
          },
          "start": {
            "type": "number",
            "description": "Start time of the segment in seconds.",
            "format": "float"
          },
          "end": {
            "type": "number",
            "description": "End time of the segment in seconds.",
            "format": "float"
          },
          "text": {
            "type": "string",
            "description": "Text content of the segment."
          },
          "tokens": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of token IDs for the text content."
          },
          "temperature": {
            "type": "number",
            "description": "Temperature parameter used for generating the segment.",
            "format": "float"
          },
          "avg_logprob": {
            "type": "number",
            "description": "Average logprob of the segment. If the value is lower than -1, consider the logprobs failed.",
            "format": "float"
          },
          "compression_ratio": {
            "type": "number",
            "description": "Compression ratio of the segment. If the value is greater than 2.4, consider the compression failed.",
            "format": "float"
          },
          "no_speech_prob": {
            "type": "number",
            "description": "Probability of no speech in the segment. If the value is higher than 1.0 and the \u0060avg_logprob\u0060 is below -1, consider this segment silent.",
            "format": "float"
          },
          "audio_text": {
            "type": "string",
            "description": "Transcribed text for the entire chunk"
          },
          "token_scores": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "description": "Token-level scores."
          },
          "chunk_start": {
            "type": "integer",
            "description": "Start chunk timestamp."
          },
          "chunk_end": {
            "type": "integer",
            "description": "End chunk timestamp."
          }
        }
      },
      "TranscriptionWord": {
        "required": [
          "word",
          "start",
          "end"
        ],
        "type": "object",
        "properties": {
          "word": {
            "type": "string",
            "description": "The text content of the word."
          },
          "start": {
            "type": "number",
            "description": "Start time of the word in seconds.",
            "format": "float"
          },
          "end": {
            "type": "number",
            "description": "End time of the word in seconds.",
            "format": "float"
          }
        }
      },
      "CreateTranscriptionResponseVerboseJson": {
        "required": [
          "language",
          "duration",
          "text"
        ],
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language of the input audio."
          },
          "duration": {
            "type": "string",
            "description": "The duration of the input audio."
          },
          "text": {
            "type": "string",
            "description": "The transcribed text."
          },
          "words": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranscriptionWord"
            },
            "description": "Extracted words and their corresponding timestamps."
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranscriptionSegment"
            },
            "description": "Segments of the transcribed text and their corresponding details."
          }
        },
        "description": "Represents a verbose json transcription response returned by model, based on the provided input."
      },
      "CreateTranslationRequest": {
        "required": [
          "model"
        ],
        "type": "object",
        "oneOf": [
          {
            "required": [
              "file"
            ],
            "type": "object"
          },
          {
            "required": [
              "url"
            ],
            "type": "object"
          }
        ],
        "properties": {
          "file": {
            "type": "string",
            "description": "The audio file object (not file name) translate, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.\n",
            "format": "binary"
          },
          "url": {
            "type": "string",
            "description": "The audio URL to translate/transcribe (supports Base64URL). Either file or url must be provided.\nWhen using the Batch API only url is supported.\n"
          },
          "model": {
            "$ref": "#/components/schemas/CreateTranslationRequestModel"
          },
          "prompt": {
            "type": "string",
            "description": "An optional text to guide the model\u0027s style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text/prompting) should be in English.\n"
          },
          "response_format": {
            "$ref": "#/components/schemas/CreateTranslationRequestResponseFormat"
          },
          "temperature": {
            "type": "number",
            "description": "The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.\n",
            "default": 0
          }
        },
        "additionalProperties": false
      },
      "CreateTranslationResponseJson": {
        "required": [
          "text"
        ],
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          }
        }
      },
      "CreateTranslationResponseVerboseJson": {
        "required": [
          "language",
          "duration",
          "text"
        ],
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language of the output translation (always \u0060english\u0060)."
          },
          "duration": {
            "type": "string",
            "description": "The duration of the input audio."
          },
          "text": {
            "type": "string",
            "description": "The translated text."
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranscriptionSegment"
            },
            "description": "Segments of the translated text and their corresponding details."
          }
        }
      },
      "Batch": {
        "required": [
          "id",
          "object",
          "endpoint",
          "input_file_id",
          "completion_window",
          "status",
          "created_at"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "$ref": "#/components/schemas/BatchObject"
          },
          "endpoint": {
            "type": "string",
            "description": "The API endpoint used by the batch."
          },
          "errors": {
            "$ref": "#/components/schemas/BatchErrors"
          },
          "input_file_id": {
            "type": "string",
            "description": "The ID of the input file for the batch."
          },
          "completion_window": {
            "type": "string",
            "description": "The time frame within which the batch should be processed."
          },
          "status": {
            "$ref": "#/components/schemas/BatchStatus"
          },
          "output_file_id": {
            "type": "string",
            "description": "The ID of the file containing the outputs of successfully executed requests."
          },
          "error_file_id": {
            "type": "string",
            "description": "The ID of the file containing the outputs of requests with errors."
          },
          "created_at": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) for when the batch was created."
          },
          "in_progress_at": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) for when the batch started processing."
          },
          "expires_at": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) for when the batch will expire."
          },
          "finalizing_at": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) for when the batch started finalizing."
          },
          "completed_at": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) for when the batch was completed."
          },
          "failed_at": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) for when the batch failed."
          },
          "expired_at": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) for when the batch expired."
          },
          "cancelling_at": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) for when the batch started cancelling."
          },
          "cancelled_at": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) for when the batch was cancelled."
          },
          "request_counts": {
            "$ref": "#/components/schemas/BatchRequestCounts"
          },
          "metadata": {
            "$ref": "#/components/schemas/BatchMetadataProperty"
          }
        }
      },
      "BatchRequestInput": {
        "type": "object",
        "properties": {
          "custom_id": {
            "type": "string",
            "description": "A developer-provided per-request id that will be used to match outputs to inputs. Must be unique for each request in a batch."
          },
          "method": {
            "$ref": "#/components/schemas/PostMethod"
          },
          "url": {
            "type": "string",
            "description": "The OpenAI API relative URL to be used for the request. Currently \u0060/v1/chat/completions\u0060 is supported."
          }
        },
        "description": "The per-line object of the batch input file"
      },
      "BatchRequestOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "custom_id": {
            "type": "string",
            "description": "A developer-provided per-request id that will be used to match outputs to inputs."
          },
          "response": {
            "$ref": "#/components/schemas/BatchRequestOutputResponse"
          },
          "error": {
            "$ref": "#/components/schemas/BatchRequestOutputError"
          }
        },
        "description": "The per-line object of the batch output and error files"
      },
      "ListBatchesResponse": {
        "required": [
          "object",
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Batch"
            }
          },
          "object": {
            "$ref": "#/components/schemas/ListObject"
          }
        }
      },
      "ChatCompletionRequestMessageContentPart": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartText"
          },
          {
            "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartImage"
          },
          {
            "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartDocument"
          }
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "The text content."
          },
          "image_url": {
            "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartImageImageUrl"
          },
          "document": {
            "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartDocumentDocument"
          }
        }
      },
      "ChatCompletionRequestMessageContentPartImage": {
        "title": "Image content part",
        "required": [
          "type",
          "image_url"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ImageUrlType"
          },
          "image_url": {
            "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartImageImageUrl"
          }
        }
      },
      "ChatCompletionRequestMessageContentPartText": {
        "title": "Text content part",
        "required": [
          "type",
          "text"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/TextType"
          },
          "text": {
            "type": "string",
            "description": "The text content."
          }
        }
      },
      "ChatCompletionRequestMessageContentPartDocument": {
        "title": "Document content part",
        "required": [
          "type",
          "document"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "document": {
            "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartDocumentDocument"
          }
        }
      },
      "ChatCompletionDocument": {
        "title": "Document",
        "required": [
          "source"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Optional unique identifier that can be used for citations in responses.",
            "nullable": true
          },
          "source": {
            "$ref": "#/components/schemas/ChatCompletionDocumentSource"
          }
        },
        "additionalProperties": false,
        "description": "A document that can be referenced by the model while generating responses."
      },
      "ChatCompletionDocumentSource": {
        "title": "Document source",
        "required": [
          "type"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ChatCompletionDocumentSourceText"
          },
          {
            "$ref": "#/components/schemas/ChatCompletionDocumentSourceJson"
          }
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "The document contents."
          },
          "data": {
            "$ref": "#/components/schemas/ChatCompletionDocumentSourceJsonDataProperty"
          },
          "type": {
            "type": "string"
          }
        },
        "description": "The source of the document. Only text and JSON sources are currently supported.",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "text": "#/components/schemas/ChatCompletionDocumentSourceText",
            "json": "#/components/schemas/ChatCompletionDocumentSourceJson",
            "ChatCompletionDocumentSourceText": "#/components/schemas/ChatCompletionDocumentSourceText",
            "ChatCompletionDocumentSourceJson": "#/components/schemas/ChatCompletionDocumentSourceJson"
          }
        }
      },
      "ChatCompletionDocumentSourceText": {
        "title": "Text document source",
        "required": [
          "type",
          "text"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/TextType"
          },
          "text": {
            "type": "string",
            "description": "The document contents."
          }
        },
        "additionalProperties": false,
        "description": "A document whose contents are provided inline as text."
      },
      "ChatCompletionDocumentSourceJson": {
        "title": "JSON document source",
        "required": [
          "type",
          "data"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/JsonType"
          },
          "data": {
            "$ref": "#/components/schemas/ChatCompletionDocumentSourceJsonDataProperty"
          }
        },
        "additionalProperties": false,
        "description": "A document whose contents are provided inline as JSON data."
      },
      "ChatCompletionRequestMessage": {
        "required": [
          "role"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ChatCompletionRequestSystemMessage"
          },
          {
            "$ref": "#/components/schemas/ChatCompletionRequestUserMessage"
          },
          {
            "$ref": "#/components/schemas/ChatCompletionRequestAssistantMessage"
          },
          {
            "$ref": "#/components/schemas/ChatCompletionRequestToolMessage"
          },
          {
            "$ref": "#/components/schemas/ChatCompletionRequestFunctionMessage"
          }
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
          },
          "reasoning": {
            "type": "string",
            "description": "The reasoning output by the assistant if reasoning_format was set to \u0027parsed\u0027.\nThis field is supported on [models that support reasoning](https://console.groq.com/docs/reasoning).\n",
            "nullable": true
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionMessageToolCall"
            },
            "description": "The tool calls generated by the model, such as function calls."
          },
          "function_call": {
            "$ref": "#/components/schemas/ChatCompletionRequestAssistantMessageFunctionCall"
          },
          "tool_call_id": {
            "type": "string",
            "description": "Tool call that this message is responding to."
          },
          "role": {
            "type": "string"
          }
        },
        "discriminator": {
          "propertyName": "role",
          "mapping": {
            "system": "#/components/schemas/ChatCompletionRequestSystemMessage",
            "developer": "#/components/schemas/ChatCompletionRequestSystemMessage",
            "user": "#/components/schemas/ChatCompletionRequestUserMessage",
            "assistant": "#/components/schemas/ChatCompletionRequestAssistantMessage",
            "tool": "#/components/schemas/ChatCompletionRequestToolMessage",
            "function": "#/components/schemas/ChatCompletionRequestFunctionMessage",
            "ChatCompletionRequestSystemMessage": "#/components/schemas/ChatCompletionRequestSystemMessage",
            "ChatCompletionRequestUserMessage": "#/components/schemas/ChatCompletionRequestUserMessage",
            "ChatCompletionRequestAssistantMessage": "#/components/schemas/ChatCompletionRequestAssistantMessage",
            "ChatCompletionRequestToolMessage": "#/components/schemas/ChatCompletionRequestToolMessage",
            "ChatCompletionRequestFunctionMessage": "#/components/schemas/ChatCompletionRequestFunctionMessage"
          }
        }
      },
      "ChatCompletionRequestSystemMessage": {
        "title": "System message",
        "required": [
          "content",
          "role"
        ],
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ChatCompletionRequestSystemMessageContent"
          },
          "role": {
            "$ref": "#/components/schemas/ChatCompletionRequestSystemMessageRole"
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
          }
        },
        "additionalProperties": false
      },
      "ChatCompletionRequestUserMessage": {
        "title": "User message",
        "required": [
          "content",
          "role"
        ],
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ChatCompletionRequestUserMessageContent"
          },
          "role": {
            "$ref": "#/components/schemas/UserRole"
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
          }
        },
        "additionalProperties": false
      },
      "ChatCompletionRequestAssistantMessage": {
        "title": "Assistant message",
        "required": [
          "role"
        ],
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ChatCompletionRequestAssistantMessageContent"
          },
          "reasoning": {
            "type": "string",
            "description": "The reasoning output by the assistant if reasoning_format was set to \u0027parsed\u0027.\nThis field is supported on [models that support reasoning](https://console.groq.com/docs/reasoning).\n",
            "nullable": true
          },
          "role": {
            "$ref": "#/components/schemas/AssistantRole"
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionMessageToolCall"
            },
            "description": "The tool calls generated by the model, such as function calls."
          },
          "function_call": {
            "$ref": "#/components/schemas/ChatCompletionRequestAssistantMessageFunctionCall"
          }
        },
        "additionalProperties": false
      },
      "ChatCompletionRequestToolMessage": {
        "title": "Tool message",
        "required": [
          "role",
          "content",
          "tool_call_id"
        ],
        "type": "object",
        "properties": {
          "role": {
            "$ref": "#/components/schemas/ToolRole"
          },
          "content": {
            "$ref": "#/components/schemas/ChatCompletionRequestToolMessageContent"
          },
          "tool_call_id": {
            "type": "string",
            "description": "Tool call that this message is responding to."
          }
        },
        "additionalProperties": false
      },
      "ChatCompletionRequestFunctionMessage": {
        "title": "Function message",
        "required": [
          "role",
          "content",
          "name"
        ],
        "type": "object",
        "properties": {
          "role": {
            "$ref": "#/components/schemas/FunctionRole"
          },
          "content": {
            "title": "Function message content",
            "type": "string",
            "description": "The contents of the function message.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "The name of the function to call."
          }
        },
        "additionalProperties": false,
        "deprecated": true
      },
      "FunctionParameters": {
        "type": "object",
        "description": "Function parameters defined as a JSON Schema object. Refer to https://json-schema.org/understanding-json-schema/ for schema documentation."
      },
      "ChatCompletionFunctions": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "A description of what the function does, used by the model to choose when and how to call the function."
          },
          "name": {
            "type": "string",
            "description": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
          },
          "parameters": {
            "$ref": "#/components/schemas/ChatCompletionFunctionsParameters"
          }
        },
        "deprecated": true
      },
      "ChatCompletionFunctionCallOption": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the function to call."
          }
        },
        "description": "Specifying a particular function via \u0060{\u0022name\u0022: \u0022my_function\u0022}\u0060 forces the model to call that function.\n"
      },
      "ChatCompletionTool": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ChatCompletionToolType"
          },
          "function": {
            "$ref": "#/components/schemas/FunctionObject"
          }
        }
      },
      "FunctionObject": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "A description of what the function does, used by the model to choose when and how to call the function."
          },
          "name": {
            "type": "string",
            "description": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
          },
          "parameters": {
            "$ref": "#/components/schemas/FunctionObjectParameters"
          },
          "strict": {
            "type": "boolean",
            "description": "Whether to enable strict schema adherence when generating the output. If set to true, the model will always follow the exact schema defined in the \u0060schema\u0060 field. Only a subset of JSON Schema is supported when \u0060strict\u0060 is \u0060true\u0060.\n",
            "default": false
          }
        }
      },
      "ChatCompletionToolChoiceOption": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ChatCompletionToolChoiceOptionWrapper"
          },
          {
            "$ref": "#/components/schemas/ChatCompletionNamedToolChoice"
          }
        ],
        "properties": {
          "value": {
            "$ref": "#/components/schemas/ChatCompletionToolChoiceOptionWrapperValue"
          },
          "type": {
            "$ref": "#/components/schemas/FunctionType"
          },
          "function": {
            "$ref": "#/components/schemas/ChatCompletionNamedToolChoiceFunction"
          }
        },
        "description": "Controls which (if any) tool is called by the model.\n\u0060none\u0060 means the model will not call any tool and instead generates a message.\n\u0060auto\u0060 means the model can pick between generating a message or calling one or more tools.\n\u0060required\u0060 means the model must call one or more tools.\nSpecifying a particular tool via \u0060{\u0022type\u0022: \u0022function\u0022, \u0022function\u0022: {\u0022name\u0022: \u0022my_function\u0022}}\u0060 forces the model to call that tool.\n\n\u0060none\u0060 is the default when no tools are present. \u0060auto\u0060 is the default if tools are present.\n",
        "x-groq-meta": {
          "validator": "ChatCompletionToolChoiceOption"
        }
      },
      "ChatCompletionNamedToolChoice": {
        "required": [
          "type",
          "function"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FunctionType"
          },
          "function": {
            "$ref": "#/components/schemas/ChatCompletionNamedToolChoiceFunction"
          }
        },
        "description": "Specifies a tool the model should use. Use to force the model to call a specific function."
      },
      "ChatCompletionMessageToolCalls": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ChatCompletionMessageToolCall"
        },
        "description": "The tool calls generated by the model, such as function calls."
      },
      "ChatCompletionMessageToolCall": {
        "required": [
          "id",
          "type",
          "function"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the tool call."
          },
          "type": {
            "$ref": "#/components/schemas/FunctionType"
          },
          "function": {
            "$ref": "#/components/schemas/ChatCompletionMessageToolCallFunction"
          }
        }
      },
      "ChatCompletionMessageToolCallChunk": {
        "required": [
          "index"
        ],
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "id": {
            "type": "string",
            "description": "The ID of the tool call."
          },
          "type": {
            "$ref": "#/components/schemas/FunctionType"
          },
          "function": {
            "$ref": "#/components/schemas/ChatCompletionMessageToolCallChunkFunction"
          }
        }
      },
      "ChatCompletionRole": {
        "enum": [
          "system",
          "user",
          "assistant",
          "tool",
          "function"
        ],
        "type": "string",
        "additionalProperties": false,
        "description": "The role of the author of a message",
        "x-ms-enum": {
          "name": "ChatCompletionRole",
          "modelAsString": false,
          "values": [
            {
              "value": "system",
              "name": "System"
            },
            {
              "value": "user",
              "name": "User"
            },
            {
              "value": "assistant",
              "name": "Assistant"
            },
            {
              "value": "tool",
              "name": "Tool"
            },
            {
              "value": "function",
              "name": "Function"
            }
          ]
        }
      },
      "ChatCompletionStreamOptions": {
        "type": "object",
        "properties": {
          "include_usage": {
            "type": "boolean",
            "description": "If set, an additional chunk will be streamed before the \u0060data: [DONE]\u0060 message. The \u0060usage\u0060 field on this chunk shows the token usage statistics for the entire request, and the \u0060choices\u0060 field will always be an empty array. All other chunks will also include a \u0060usage\u0060 field, but with a null value.\n",
            "nullable": true
          }
        },
        "description": "Options for streaming response. Only set this when you set \u0060stream: true\u0060.\n",
        "default": null,
        "nullable": true
      },
      "ChatCompletionResponseMessage": {
        "required": [
          "role",
          "content"
        ],
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "The contents of the message.",
            "nullable": true
          },
          "reasoning": {
            "type": "string",
            "description": "The model\u0027s reasoning for a response. Only available for [models that support reasoning](https://console.groq.com/docs/reasoning) when request parameter reasoning_format has value \u0060parsed\u0060.",
            "nullable": true
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionMessageToolCall"
            },
            "description": "The tool calls generated by the model, such as function calls."
          },
          "executed_tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionMessageExecutedToolsItem"
            },
            "description": "A list of tools that were executed during the chat completion for compound AI systems."
          },
          "role": {
            "$ref": "#/components/schemas/AssistantRole"
          },
          "function_call": {
            "$ref": "#/components/schemas/ChatCompletionResponseMessageFunctionCall"
          },
          "annotations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Annotation"
            },
            "description": "A list of annotations providing citations and references for the content in the message."
          }
        },
        "description": "A chat completion message generated by the model."
      },
      "ChatCompletionMessageExecutedTools": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ChatCompletionMessageExecutedToolsItem"
        },
        "description": "A list of tools that were executed during the chat completion for compound AI systems."
      },
      "ChatCompletionStreamResponseDelta": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "The contents of the chunk message.",
            "nullable": true
          },
          "reasoning": {
            "type": "string",
            "description": "The model\u0027s reasoning for a response. Only available for [models that support reasoning](https://console.groq.com/docs/reasoning) when request parameter reasoning_format has value \u0060parsed\u0060.",
            "nullable": true
          },
          "function_call": {
            "$ref": "#/components/schemas/ChatCompletionStreamResponseDeltaFunctionCall"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionMessageToolCallChunk"
            }
          },
          "executed_tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionMessageExecutedToolsItem"
            },
            "description": "A list of tools that were executed during the chat completion for compound AI systems."
          },
          "role": {
            "$ref": "#/components/schemas/ChatCompletionStreamResponseDeltaRole"
          },
          "annotations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Annotation"
            },
            "description": "A list of annotations providing citations and references for the content in the message."
          }
        },
        "description": "A chat completion delta generated by streamed model responses."
      },
      "CreateChatCompletionRequest": {
        "required": [
          "model",
          "messages"
        ],
        "type": "object",
        "properties": {
          "messages": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionRequestMessage"
            },
            "description": "A list of messages comprising the conversation so far."
          },
          "model": {
            "$ref": "#/components/schemas/CreateChatCompletionRequestModel"
          },
          "disable_tool_validation": {
            "type": "boolean",
            "description": "If set to true, groq will return called tools without validating that the tool is present in request.tools. tool_choice=required/none will still be enforced, but the request cannot require a specific tool be used.\n",
            "default": false
          },
          "frequency_penalty": {
            "maximum": 2,
            "minimum": -2,
            "type": "number",
            "description": "This is not yet supported by any of our models. Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model\u0027s likelihood to repeat the same line verbatim.",
            "default": 0,
            "nullable": true
          },
          "include_reasoning": {
            "type": "boolean",
            "description": "Whether to include reasoning in the response.  If true, the response will include a \u0060reasoning\u0060 field. If false, the model\u0027s reasoning will not be included in the response.\nThis field is mutually exclusive with \u0060reasoning_format\u0060.\n",
            "nullable": true
          },
          "logit_bias": {
            "$ref": "#/components/schemas/CreateChatCompletionRequestLogitBiasProperty"
          },
          "logprobs": {
            "type": "boolean",
            "description": "This is not yet supported by any of our models.\nWhether to return log probabilities of the output tokens or not. If true, returns the log probabilities of each output token returned in the \u0060content\u0060 of \u0060message\u0060.\n",
            "default": false,
            "nullable": true
          },
          "top_logprobs": {
            "maximum": 20,
            "minimum": 0,
            "type": "integer",
            "description": "This is not yet supported by any of our models.\nAn integer between 0 and 20 specifying the number of most likely tokens to return at each token position, each with an associated log probability. \u0060logprobs\u0060 must be set to \u0060true\u0060 if this parameter is used.\n",
            "nullable": true
          },
          "max_tokens": {
            "type": "integer",
            "description": "Deprecated in favor of \u0060max_completion_tokens\u0060.\nThe maximum number of tokens that can be generated in the chat completion. The total length of input tokens and generated tokens is limited by the model\u0027s context length.\n",
            "nullable": true,
            "deprecated": true
          },
          "max_completion_tokens": {
            "type": "integer",
            "description": "The maximum number of tokens that can be generated in the chat completion. The total length of input tokens and generated tokens is limited by the model\u0027s context length.",
            "nullable": true
          },
          "n": {
            "maximum": 1,
            "minimum": 1,
            "type": "integer",
            "description": "How many chat completion choices to generate for each input message. Note that the current moment, only n=1 is supported. Other values will result in a 400 response.",
            "default": 1,
            "nullable": true,
            "example": 1
          },
          "presence_penalty": {
            "maximum": 2,
            "minimum": -2,
            "type": "number",
            "description": "This is not yet supported by any of our models. Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model\u0027s likelihood to talk about new topics.",
            "default": 0,
            "nullable": true
          },
          "response_format": {
            "$ref": "#/components/schemas/CreateChatCompletionRequestResponseFormat"
          },
          "seed": {
            "type": "integer",
            "description": "If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same \u0060seed\u0060 and parameters should return the same result.\nDeterminism is not guaranteed, and you should refer to the \u0060system_fingerprint\u0060 response parameter to monitor changes in the backend.\n",
            "nullable": true
          },
          "service_tier": {
            "$ref": "#/components/schemas/CreateChatCompletionRequestServiceTier"
          },
          "stop": {
            "$ref": "#/components/schemas/CreateChatCompletionRequestStop"
          },
          "reasoning_effort": {
            "$ref": "#/components/schemas/CreateChatCompletionRequestReasoningEffort"
          },
          "reasoning_format": {
            "$ref": "#/components/schemas/CreateChatCompletionRequestReasoningFormat"
          },
          "stream": {
            "type": "boolean",
            "description": "If set, partial message deltas will be sent. Tokens will be sent as data-only [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format) as they become available, with the stream terminated by a \u0060data: [DONE]\u0060 message. [Example code](/docs/text-chat#streaming-a-chat-completion).\n",
            "default": false,
            "nullable": true
          },
          "temperature": {
            "maximum": 2,
            "minimum": 0,
            "type": "number",
            "description": "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. We generally recommend altering this or top_p but not both.",
            "default": 1,
            "nullable": true,
            "example": 1
          },
          "top_p": {
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered. We generally recommend altering this or temperature but not both.",
            "default": 1,
            "nullable": true,
            "example": 1
          },
          "tools": {
            "maxItems": 128,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionTool"
            },
            "description": "A list of tools the model may call. Currently, only functions are supported as a tool. Use this to provide a list of functions the model may generate JSON inputs for. A max of 128 functions are supported.\n",
            "nullable": true
          },
          "tool_choice": {
            "$ref": "#/components/schemas/ChatCompletionToolChoiceOption"
          },
          "parallel_tool_calls": {
            "type": "boolean",
            "description": "Whether to enable parallel function calling during tool use.\n",
            "default": true,
            "nullable": true
          },
          "user": {
            "type": "string",
            "description": "A unique identifier representing your end-user, which can help us monitor and detect abuse.",
            "nullable": true
          },
          "function_call": {
            "$ref": "#/components/schemas/CreateChatCompletionRequestFunctionCall"
          },
          "functions": {
            "maxItems": 128,
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionFunctions"
            },
            "description": "Deprecated in favor of \u0060tools\u0060.\n\nA list of functions the model may generate JSON inputs for.\n",
            "nullable": true,
            "deprecated": true
          },
          "metadata": {
            "$ref": "#/components/schemas/CreateChatCompletionRequestMetadataProperty"
          },
          "store": {
            "type": "boolean",
            "description": "This parameter is not currently supported.\n",
            "nullable": true
          },
          "include_domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Deprecated: Use search_settings.include_domains instead.\nA list of domains to include in the search results when the model uses a web search tool.\n",
            "nullable": true,
            "deprecated": true
          },
          "exclude_domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Deprecated: Use search_settings.exclude_domains instead.\nA list of domains to exclude from the search results when the model uses a web search tool.\n",
            "nullable": true,
            "deprecated": true
          },
          "search_settings": {
            "$ref": "#/components/schemas/CreateChatCompletionRequestSearchSettings"
          },
          "compound_custom": {
            "$ref": "#/components/schemas/CreateChatCompletionRequestCompoundCustom"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionDocument"
            },
            "description": "A list of documents to provide context for the conversation. Each document contains text that can be referenced by the model.",
            "nullable": true
          },
          "citation_options": {
            "$ref": "#/components/schemas/CreateChatCompletionRequestCitationOptions"
          }
        },
        "additionalProperties": false
      },
      "ResponseFormatJsonObject": {
        "title": "JSON object",
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/JsonObjectType"
          }
        },
        "description": "JSON object response format. An older method of generating JSON responses. Using \u0060json_schema\u0060 is recommended for models that support it. Note that the model will not generate JSON without a system or user message instructing it to do so.\n"
      },
      "ResponseFormatJsonSchema": {
        "title": "JSON schema",
        "required": [
          "type",
          "json_schema"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/JsonSchemaType"
          },
          "json_schema": {
            "$ref": "#/components/schemas/ResponseFormatJsonSchemaJsonSchema"
          }
        },
        "description": "JSON Schema response format. Used to generate structured JSON responses.\n"
      },
      "ResponseFormatJsonSchemaSchema": {
        "title": "JSON schema",
        "type": "object",
        "description": "The schema for the response format, described as a JSON Schema object.\nLearn how to build JSON schemas [here](https://json-schema.org/).\n"
      },
      "ResponseFormatText": {
        "title": "Text",
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/TextType"
          }
        },
        "description": "Default response format. Used to generate text responses.\n"
      },
      "CreateChatCompletionResponse": {
        "required": [
          "choices",
          "created",
          "id",
          "model",
          "object"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the chat completion."
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateChatCompletionResponseChoicesItem"
            },
            "description": "A list of chat completion choices. Can be more than one if \u0060n\u0060 is greater than 1."
          },
          "created": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) of when the chat completion was created."
          },
          "model": {
            "type": "string",
            "description": "The model used for the chat completion."
          },
          "system_fingerprint": {
            "type": "string",
            "description": "This fingerprint represents the backend configuration that the model runs with.\n\nCan be used in conjunction with the \u0060seed\u0060 request parameter to understand when backend changes have been made that might impact determinism.\n"
          },
          "object": {
            "$ref": "#/components/schemas/ChatCompletionObject"
          },
          "usage": {
            "$ref": "#/components/schemas/CompletionUsage"
          },
          "usage_breakdown": {
            "$ref": "#/components/schemas/CreateChatCompletionResponseUsageBreakdown"
          },
          "service_tier": {
            "$ref": "#/components/schemas/CreateChatCompletionResponseServiceTier"
          },
          "mcp_list_tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateChatCompletionResponseMcpListToolsItem"
            },
            "description": "List of discovered MCP tools from connected servers.",
            "nullable": true
          },
          "x_groq": {
            "$ref": "#/components/schemas/XGroqNonStreaming"
          }
        },
        "description": "Represents a chat completion response returned by model, based on the provided input."
      },
      "ChatCompletionTokenLogprob": {
        "required": [
          "token",
          "logprob",
          "bytes",
          "top_logprobs"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The token."
          },
          "logprob": {
            "type": "number",
            "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value \u0060-9999.0\u0060 is used to signify that the token is very unlikely."
          },
          "bytes": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be \u0060null\u0060 if there is no bytes representation for the token.",
            "nullable": true
          },
          "top_logprobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionTokenLogprobTopLogprobsItem"
            },
            "description": "List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested \u0060top_logprobs\u0060 returned."
          }
        }
      },
      "DebugData": {
        "type": "object",
        "properties": {
          "input_token_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Token IDs for the input."
          },
          "input_tokens": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Token strings for the input."
          },
          "output_token_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Token IDs for the output."
          },
          "output_tokens": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Token strings for the output."
          }
        },
        "description": "Debug information including input and output token IDs and strings. Only present when debug=true in the request."
      },
      "XGroqNonStreaming": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A groq request ID which can be used to refer to a specific request to groq support."
          },
          "seed": {
            "type": "integer",
            "description": "The seed used for the request. See the seed property on CreateChatCompletionRequest for more details.",
            "nullable": true
          },
          "usage": {
            "$ref": "#/components/schemas/XGroqNonStreamingUsage"
          },
          "debug": {
            "$ref": "#/components/schemas/XGroqNonStreamingDebug"
          }
        },
        "description": "Groq-specific metadata for non-streaming chat completion responses."
      },
      "XGroq": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A groq request ID which can be used to refer to a specific request to groq support.\nSent only in the first and final chunk.\n",
            "nullable": true
          },
          "seed": {
            "type": "integer",
            "description": "The seed used for the request. Sent in the final chunk.",
            "nullable": true
          },
          "usage": {
            "$ref": "#/components/schemas/XGroqUsage"
          },
          "usage_breakdown": {
            "$ref": "#/components/schemas/XGroqUsageBreakdown"
          },
          "error": {
            "type": "string",
            "description": "An error string indicating why a stream was stopped early.",
            "nullable": true
          },
          "debug": {
            "$ref": "#/components/schemas/XGroqDebug"
          }
        },
        "description": "Groq-specific metadata for streaming responses. Different fields appear in different chunks."
      },
      "CreateChatCompletionStreamResponse": {
        "required": [
          "choices",
          "created",
          "id",
          "model",
          "object"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the chat completion. Each chunk has the same ID."
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateChatCompletionStreamResponseChoicesItem"
            },
            "description": "A list of chat completion choices. Can contain more than one elements if \u0060n\u0060 is greater than 1.\n"
          },
          "created": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) of when the chat completion was created. Each chunk has the same timestamp."
          },
          "model": {
            "type": "string",
            "description": "The model to generate the completion."
          },
          "system_fingerprint": {
            "type": "string",
            "description": "This fingerprint represents the backend configuration that the model runs with.\nCan be used in conjunction with the \u0060seed\u0060 request parameter to understand when backend changes have been made that might impact determinism.\n"
          },
          "object": {
            "$ref": "#/components/schemas/ChatCompletionChunkObject"
          },
          "x_groq": {
            "$ref": "#/components/schemas/XGroq"
          }
        },
        "description": "Represents a streamed chunk of a chat completion response returned by model, based on the provided input."
      },
      "CompletionUsage": {
        "required": [
          "prompt_tokens",
          "completion_tokens",
          "total_tokens"
        ],
        "type": "object",
        "properties": {
          "queue_time": {
            "type": "number",
            "description": "Time the requests was spent queued"
          },
          "completion_time": {
            "type": "number",
            "description": "Time spent generating tokens"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Number of tokens in the generated completion."
          },
          "prompt_time": {
            "type": "number",
            "description": "Time spent processing input tokens"
          },
          "prompt_tokens": {
            "type": "integer",
            "description": "Number of tokens in the prompt."
          },
          "total_time": {
            "type": "number",
            "description": "completion time and prompt time combined"
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total number of tokens used in the request (prompt \u002B completion)."
          },
          "prompt_tokens_details": {
            "$ref": "#/components/schemas/CompletionUsagePromptTokensDetails"
          },
          "completion_tokens_details": {
            "$ref": "#/components/schemas/CompletionUsageCompletionTokensDetails"
          }
        },
        "description": "Usage statistics for the completion request."
      },
      "ChatCompletionUsageBreakdown": {
        "required": [
          "models"
        ],
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionUsageBreakdownModelsItem"
            },
            "description": "List of models used in the request and their individual usage statistics"
          }
        },
        "description": "Usage statistics for compound AI completion requests."
      },
      "Chart": {
        "required": [
          "type",
          "elements"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ChartType"
          },
          "title": {
            "type": "string",
            "description": "The title of the chart"
          },
          "x_label": {
            "type": "string",
            "description": "The label for the x-axis"
          },
          "y_label": {
            "type": "string",
            "description": "The label for the y-axis"
          },
          "x_unit": {
            "type": "string",
            "description": "The unit for the x-axis"
          },
          "y_unit": {
            "type": "string",
            "description": "The unit for the y-axis"
          },
          "x_ticks": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "The tick values for the x-axis"
          },
          "y_ticks": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "The tick values for the y-axis"
          },
          "x_tick_labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels for the x-axis ticks"
          },
          "y_tick_labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels for the y-axis ticks"
          },
          "x_scale": {
            "type": "string",
            "description": "The scale type for the x-axis"
          },
          "y_scale": {
            "type": "string",
            "description": "The scale type for the y-axis"
          },
          "elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartElement"
            },
            "description": "The chart elements (data series, points, etc.)"
          }
        }
      },
      "ChartElement": {
        "required": [
          "label"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for this chart element"
          },
          "group": {
            "type": "string",
            "description": "The group this element belongs to"
          },
          "value": {
            "type": "number",
            "description": "The value for this element"
          },
          "points": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "description": "The points for this element"
          },
          "angle": {
            "type": "number",
            "description": "The angle for this element"
          },
          "radius": {
            "type": "number",
            "description": "The radius for this element"
          },
          "min": {
            "type": "number",
            "description": "The minimum value for this element"
          },
          "first_quartile": {
            "type": "number",
            "description": "The first quartile value for this element"
          },
          "median": {
            "type": "number",
            "description": "The median value for this element"
          },
          "third_quartile": {
            "type": "number",
            "description": "The third quartile value for this element"
          },
          "max": {
            "type": "number"
          },
          "outliers": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "The outliers for this element"
          }
        }
      },
      "BrowserResult": {
        "required": [
          "url",
          "title"
        ],
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL of the browser window"
          },
          "title": {
            "type": "string",
            "description": "The title of the browser window"
          },
          "live_view_url": {
            "type": "string",
            "description": "The live view URL for the browser window"
          },
          "content": {
            "type": "string",
            "description": "The content of the browser result"
          }
        },
        "additionalProperties": false
      },
      "CodeExecutionResult": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "The text version of the code execution result"
          },
          "png": {
            "type": "string",
            "description": "Base64 encoded PNG image output from code execution"
          },
          "chart": {
            "$ref": "#/components/schemas/Chart"
          },
          "charts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Chart"
            },
            "description": "Array of charts from a superchart"
          }
        },
        "additionalProperties": false
      },
      "Annotation": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AnnotationType"
          },
          "document_citation": {
            "$ref": "#/components/schemas/DocumentCitation"
          },
          "function_citation": {
            "$ref": "#/components/schemas/FunctionCitation"
          }
        },
        "description": "An annotation that provides citations or references for content in a message."
      },
      "DocumentCitation": {
        "required": [
          "start_index",
          "end_index",
          "document_id"
        ],
        "type": "object",
        "properties": {
          "start_index": {
            "type": "integer",
            "description": "The character index in the message content where this citation begins."
          },
          "end_index": {
            "type": "integer",
            "description": "The character index in the message content where this citation ends."
          },
          "document_id": {
            "type": "string",
            "description": "The ID of the document being cited, corresponding to a document provided in the request."
          }
        },
        "additionalProperties": false,
        "description": "A citation referencing a specific document that was provided in the request."
      },
      "FunctionCitation": {
        "required": [
          "start_index",
          "end_index",
          "tool_call_id"
        ],
        "type": "object",
        "properties": {
          "start_index": {
            "type": "integer",
            "description": "The character index in the message content where this citation begins."
          },
          "end_index": {
            "type": "integer",
            "description": "The character index in the message content where this citation ends."
          },
          "tool_call_id": {
            "type": "string",
            "description": "The ID of the tool call being cited, corresponding to a tool call made during the conversation."
          }
        },
        "additionalProperties": false,
        "description": "A citation referencing the result of a function or tool call."
      },
      "Embedding": {
        "required": [
          "index",
          "object",
          "embedding"
        ],
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "The index of the embedding in the list of embeddings."
          },
          "embedding": {
            "$ref": "#/components/schemas/EmbeddingEmbedding"
          },
          "object": {
            "$ref": "#/components/schemas/EmbeddingObject"
          }
        },
        "description": "Represents an embedding vector returned by embedding endpoint.\n"
      },
      "CreateEmbeddingRequest": {
        "required": [
          "model",
          "input"
        ],
        "type": "object",
        "properties": {
          "input": {
            "$ref": "#/components/schemas/CreateEmbeddingRequestInput"
          },
          "model": {
            "$ref": "#/components/schemas/CreateEmbeddingRequestModel"
          },
          "encoding_format": {
            "$ref": "#/components/schemas/CreateEmbeddingRequestEncodingFormat"
          },
          "user": {
            "type": "string",
            "description": "A unique identifier representing your end-user, which can help us monitor and detect abuse.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateEmbeddingResponse": {
        "required": [
          "object",
          "model",
          "data",
          "usage"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Embedding"
            },
            "description": "The list of embeddings generated by the model."
          },
          "model": {
            "type": "string",
            "description": "The name of the model used to generate the embedding."
          },
          "object": {
            "$ref": "#/components/schemas/ListObject"
          },
          "usage": {
            "$ref": "#/components/schemas/CreateEmbeddingResponseUsage"
          }
        }
      },
      "File": {
        "title": "File",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The file identifier, which can be referenced in the API endpoints."
          },
          "bytes": {
            "type": "integer",
            "description": "The size of the file, in bytes."
          },
          "created_at": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) for when the file was created."
          },
          "filename": {
            "type": "string",
            "description": "The name of the file."
          },
          "object": {
            "$ref": "#/components/schemas/FileObject"
          },
          "purpose": {
            "$ref": "#/components/schemas/FilePurpose"
          }
        },
        "description": "The \u0060File\u0060 object represents a document that has been uploaded."
      },
      "CreateFileRequest": {
        "required": [
          "file",
          "purpose"
        ],
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "description": "The File object (not file name) to be uploaded.\n",
            "format": "binary"
          },
          "purpose": {
            "$ref": "#/components/schemas/BatchPurpose"
          }
        },
        "additionalProperties": false
      },
      "DeleteFileResponse": {
        "required": [
          "id",
          "object",
          "deleted"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "$ref": "#/components/schemas/FileObject"
          },
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "ListFilesResponse": {
        "required": [
          "object",
          "data"
        ],
        "type": "object",
        "properties": {
          "object": {
            "$ref": "#/components/schemas/ListObject"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/File"
            }
          }
        }
      },
      "CreateFineTuningRequest": {
        "type": "object",
        "properties": {
          "base_model": {
            "type": "string",
            "description": "BaseModel is the model that the fine tune was originally trained on.\n"
          },
          "input_file_id": {
            "type": "string",
            "description": "InputFileID is the id of the file that was uploaded via the /files api.\n"
          },
          "name": {
            "type": "string",
            "description": "Name is the given name to a fine tuned model.\n"
          },
          "type": {
            "type": "string",
            "description": "Type is the type of fine tuning format such as \u0022lora\u0022.\n"
          }
        }
      },
      "DeleteFineTuningResponse": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          }
        }
      },
      "ListFineTuningsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListFineTuningsResponseDataItem"
            }
          },
          "object": {
            "type": "string"
          }
        }
      },
      "ReadFineTuningResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ReadFineTuningResponseData"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          }
        }
      },
      "ModelValue": {
        "title": "Model",
        "required": [
          "id",
          "object",
          "created",
          "owned_by"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The model identifier, which can be referenced in the API endpoints."
          },
          "created": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) when the model was created."
          },
          "object": {
            "$ref": "#/components/schemas/ModelObject"
          },
          "owned_by": {
            "type": "string",
            "description": "The organization that owns the model."
          }
        },
        "description": "Describes an OpenAI model offering that can be used with the API."
      },
      "ListModelsResponse": {
        "required": [
          "object",
          "data"
        ],
        "type": "object",
        "properties": {
          "object": {
            "$ref": "#/components/schemas/ListObject"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelValue"
            }
          }
        }
      },
      "DeleteModelResponse": {
        "required": [
          "id",
          "object",
          "deleted"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "object": {
            "type": "string"
          }
        }
      },
      "RerankingRequest": {
        "required": [
          "model",
          "query",
          "docs"
        ],
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "ID of the reranking model to use.\n",
            "example": "qwen3-reranker-4b"
          },
          "query": {
            "type": "string",
            "description": "The search query to rank documents against.\n",
            "example": "artificial intelligence research"
          },
          "docs": {
            "maxItems": 100,
            "minItems": 1,
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string"
            },
            "description": "An array of documents to rank. Each document is a string containing the text content.\nMaximum of 100 documents per request.\n"
          },
          "instruction": {
            "type": "string",
            "description": "Optional instruction to guide the reranking process. If not provided, \na default instruction will be used.\n",
            "nullable": true,
            "example": "Find the most relevant document about AI research"
          }
        },
[...]
